/****** Object:  UserDefinedFunction [dbo].[DistanceCalc]    Script Date: 10/16/2018 09:29:50 ******/
ALTER function [dbo].[DistanceCalc] (@lon1 float, @lat1 float, @lon2 float, @lat2 float)
returns float
as
begin

declare @Dist  FLOAT
declare @d float
-- Convert to radians
set @Lat1 = @Lat1 / 57.2958
set @Lon1 = @Lon1 / 57.2958
set @Lat2 = @Lat2 / 57.2958
set @Lon2 = @Lon2 / 57.2958
-- Calc distance
set @d = (Sin(@Lat1) * Sin(@Lat2)) + (Cos(@Lat1) * Cos(@Lat2) * Cos(@Lon2 - @Lon1))
-- Convert to miles
if @d <> 0
begin
 set @Dist = 3958.75 * Atan(Sqrt(1 - power(@d, 2)) / @d)
end
return (@Dist)
end

