ALTER TRIGGER [dbo].[ActivityHistoryUpdate] ON [dbo].[ActivityHistory]
FOR UPDATE 
AS
SET NOCOUNT ON;

--Update AH info
UPDATE ActivityHistory
SET ActivityHistory.UpdatedBy = suser_sname(),
UpdatedOn = GETUTCDATE(), UTCUpdatedOn=1
FROM Inserted, ActivityHistory
WHERE Inserted.ActivityHistoryID =  ActivityHistory.ActivityHistoryID

UPDATE ActivityHistory
SET ActivityHistory.IsUTCTime = 1
FROM Inserted, ActivityHistory, deleted
WHERE IsNull(ActivityHistory.IsUTCTime,0) =0 and deleted.ActivityHistoryID=inserted.ActivityHistoryID and
Inserted.ActivityHistoryID =  ActivityHistory.ActivityHistoryID
and 	(	deleted.CompletedOn <> inserted.CompletedOn
		OR (deleted.CompletedOn IS NULL AND inserted.CompletedOn IS NOT NULL)
		OR (deleted.CompletedOn IS NOT NULL AND inserted.CompletedOn IS NULL))
 

DECLARE @DataTable table
(	ProjectsID int,
	PeopleID int,
	ActivityHistoryID int,
	CompletedOn datetime
)
--For each AH where the date was changed, find the people whose lastAH (or lastAH date) changed and fix it
--Can get duplicate rows but not a problem
INSERT INTO @DataTable (PeopleID, ActivityHistoryID, CompletedOn)
SELECT PeopleAH.LeftID, MostRecentAH.ActivityHistoryID, MostRecentAH.CompletedOn
FROM inserted
JOIN deleted
	ON deleted.ActivityHistoryID = inserted.ActivityHistoryID
	AND	--only updated rows where date changed
	(	deleted.CompletedOn <> inserted.CompletedOn
		OR (deleted.CompletedOn IS NULL AND inserted.CompletedOn IS NOT NULL)
		OR (deleted.CompletedOn IS NOT NULL AND inserted.CompletedOn IS NULL)
	)
JOIN LinkObjectToActivityHistory PeopleAH WITH(NOLOCK)	--all People linked to updated AHs
	ON PeopleAH.RightID = inserted.ActivityHistoryID
	AND PeopleAH.ObjectTableName = 'People'
JOIN People WITH(NOLOCK)
	ON People.PeopleID = PeopleAH.LeftID
OUTER APPLY	--most recent AH for those people
(	SELECT TOP 1 ActivityHistory.ActivityHistoryID, ActivityHistory.CompletedOn
	FROM LinkObjectToActivityHistory WITH(NOLOCK)
	JOIN ActivityHistory WITH(NOLOCK)
		ON LinkObjectToActivityHistory.RightID = ActivityHistory.ActivityHistoryID
	WHERE LinkObjectToActivityHistory.ObjectTableName = 'People'
	AND LinkObjectToActivityHistory.LeftID = PeopleAH.LeftID
	ORDER BY ActivityHistory.CompletedOn DESC
) MostRecentAH
WHERE MostRecentAH.ActivityHistoryID <> inserted.ActivityHistoryID	--only update if most recent AH changed
OR MostRecentAH.CompletedOn <> deleted.CompletedOn
OR (MostRecentAH.CompletedOn IS NULL AND inserted.CompletedOn IS NOT NULL)
OR (MostRecentAH.CompletedOn IS NOT NULL AND inserted.CompletedOn IS NULL)

IF @@ROWCOUNT > 0 begin
	UPDATE People
	SET LastAHID = DT.ActivityHistoryID, LastAHCompletedOn = DT.CompletedOn
	FROM People
	JOIN @DataTable DT
		ON DT.PeopleID = People.PeopleID
	
	DELETE FROM @DataTable
end

--For each AH where the date was changed, find the LastProjectActivitys whose LastAH changed and fix it
INSERT INTO @DataTable (ProjectsID, PeopleID, ActivityHistoryID, CompletedOn)
SELECT DISTINCT ProjectsAH.LeftID, PeopleAH.LeftID, MostRecentAH.ActivityHistoryID, MostRecentAH.CompletedOn
FROM inserted
JOIN deleted
	ON deleted.ActivityHistoryID = inserted.ActivityHistoryID
	AND	--only updated rows where date changed
	(	deleted.CompletedOn <> inserted.CompletedOn
		OR (deleted.CompletedOn IS NULL AND inserted.CompletedOn IS NOT NULL)
		OR (deleted.CompletedOn IS NOT NULL AND inserted.CompletedOn IS NULL)
	)
JOIN LinkObjectToActivityHistory PeopleAH WITH(NOLOCK)	--all People linked to updated AHs
	ON PeopleAH.RightID = inserted.ActivityHistoryID
	AND PeopleAH.ObjectTableName = 'People'
JOIN LinkObjectToActivityHistory ProjectsAH WITH(NOLOCK)	--all Projects linked to updated AHs
	ON ProjectsAH.RightID = inserted.ActivityHistoryID
	AND ProjectsAH.ObjectTableName = 'Projects'
JOIN LastProjectActivity WITH(NOLOCK)	--LastProjectActivitys for the People/Projects linked to updated AHs
	ON LastProjectActivity.PeopleID = PeopleAH.LeftID
	AND LastProjectActivity.ProjectsID = ProjectsAH.LeftID
OUTER APPLY	--most recent AH for those projects/people - NULL if none exist
(	SELECT TOP 1 ActivityHistory.ActivityHistoryID, ActivityHistory.CompletedOn
	FROM LinkObjectToActivityHistory innerProjAH WITH(NOLOCK)
	LEFT JOIN LinkObjectToActivityHistory innerPeopleAH WITH(NOLOCK)
		ON innerProjAH.RightID = innerPeopleAH.RightID
	JOIN ActivityHistory WITH(NOLOCK)
		ON innerProjAH.RightID = ActivityHistory.ActivityHistoryID
	WHERE innerPeopleAH.LeftID = PeopleAH.LeftID
	AND innerProjAH.LeftID = ProjectsAH.LeftID
	AND innerPeopleAH.ObjectTableName = 'People'
	AND innerProjAH.ObjectTableName = 'Projects'
	ORDER BY ActivityHistory.CompletedOn DESC
) MostRecentAH
WHERE MostRecentAH.ActivityHistoryID <> LastProjectActivity.LastProjectAHID	--only update if most recent AH changed
OR MostRecentAH.CompletedOn <> LastProjectActivity.LASTProjectAHDate
OR (MostRecentAH.CompletedOn IS NULL AND LastProjectActivity.LASTProjectAHDate IS NOT NULL)
OR (MostRecentAH.CompletedOn IS NOT NULL AND LastProjectActivity.LASTProjectAHDate IS NULL)

UPDATE LastProjectActivity
SET LastProjectAHID = DT.ActivityHistoryID, LASTProjectAHDate = DT.CompletedOn
FROM LastProjectActivity
JOIN @DataTable DT
	ON DT.ProjectsID = LastProjectActivity.ProjectsID
	AND DT.PeopleID = LastProjectActivity.PeopleID

