/****** Object:  Trigger [dbo].[CompaniesBlockDelete]    Script Date: 01/26/2016 14:34:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*--------------------------------------------------------------------------------------------------------  
    When a CompaniesBlock record is deleted, this deletes all records  
    linked to the deleted record.  
   --------------------------------------------------------------------------------------------------------*/  
ALTER TRIGGER [dbo].[CompaniesBlockDelete] ON [dbo].[CompaniesBlock]  
FOR DELETE  
AS  
-----------------------------------------------------------------------------------------------------------  
DELETE CompaniesBlockByAddresses 
FROM CompaniesBlockByAddresses AS a
	INNER JOIN Deleted AS b
	ON a.CompaniesID = b.CompaniesID 
WHERE IsNull(a.ProjectsID,0) = IsNull(b.ProjectsID,0)


DELETE CompaniesBlockByRoleCodes
FROM CompaniesBlockByRoleCodes AS a
	INNER JOIN Deleted AS b
	ON a.CompaniesID = b.CompaniesID 
WHERE IsNull(a.ProjectsID,0) = IsNull(b.ProjectsID,0)


DELETE CompaniesBlockBySkills
FROM CompaniesBlockBySkills AS a
	INNER JOIN Deleted AS b
	ON a.CompaniesID = b.CompaniesID 
WHERE IsNull(a.ProjectsID,0) = IsNull(b.ProjectsID,0)


-- UPDATE Company Block Info
-- Update companies table to inherit any existing blocks
UPDATE Companies
SET Block = NewBlock.Block,
	BlockUntilDate = NewBlock.BlockUntilDate,
	BlockedBy = NewBlock.BlockedBy,
	BlockNotes = NewBlock.BlockNotes,
	LastProjectID = NewBlock.ProjectsID
FROM 
	Deleted AS a
	OUTER APPLY (
		
		SELECT TOP 1 CompaniesBlockID, CompaniesID, ProjectsID, Block, BlockUntilDate, BlockedBy, BlockNotes
		FROM CompaniesBlock
		WHERE CompaniesBlock.CompaniesID = a.CompaniesID
			AND CompaniesBlock.CompaniesBlockID != a.CompaniesBlockID
			AND IsNull(CompaniesBlock.Block,0) > 0
		ORDER BY CompaniesBlock.BlockUntilDate DESC

	) as NewBlock
WHERE Companies.CompaniesID = a.CompaniesID
