/****** Object:  UserDefinedFunction [dbo].[fn_DFMobile_GetBlockForPerson]    Script Date: 04/24/2015 14:18:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION  [dbo].[fn_DFMobile_GetBlockForPerson] ( @PeopleID int )
RETURNS int
AS
BEGIN

	DECLARE @CurrPos_Block int
	DECLARE @ENH_Block int

	DECLARE @CBlock int

	DECLARE @CandStatus int
	DECLARE @CTStatus int
	DECLARE @PlacedStatus int

	DECLARE @Ret int
	SELECT TOP 1 @CurrPos_Block = CurrentPosBlock, @ENH_Block = EnhancedCompanyBlock FROM ClientConfig WITH(NOLOCK)
	
	set @Ret = 0

	IF (@CurrPos_Block > 0)	
	BEGIN
		-- Blocking on all current positions
		SELECT @CBlock = CASE WHEN (IsNull(CurrentPosBlock.BDate,getdate() + 1) > getdate() AND CurrentPosBlock.Block > 0 ) THEN 1 ELSE 0 END 
		FROM People WITH(NOLOCK)
		OUTER APPLY BLOKINFO(People.PeopleID, @ENH_Block ) as CurrentPosBlock 
		WHERE People.PeopleID = @PeopleID
	END
	ELSE
	BEGIN
		-- Blocking on primary position
		SELECT TOP 1 @CBlock = 
			CASE WHEN (IsNull(CBI.BDate, getdate() + 1) > getdate() 
				AND CBI.ClientEmployee > 0) 
			THEN 1 
			ELSE 0 END
		FROM People WITH(NOLOCK)
		LEFT JOIN Positions WITH(NOLOCK) ON ( People.Peopleid=Positions.Peopleid and Positions.IsPrimaryPosition = 1 )
		LEFT JOIN Companies WITH(NOLOCK) ON ( Companies.CompaniesID = Positions.CompaniesID )
		OUTER APPLY COMPBLOCKINFO( Positions.PositionsID ) AS CBI
		WHERE People.PeopleID = @PeopleID
	END	
	
	SELECT TOP 1 
		@CandStatus = CandidateBlockStatus,
		@CTStatus = CASE WHEN (IsNull(People.ClientTeamUntilDate, getdate() + 1) > getdate() AND  ClientTeamStatus > 0) THEN ClientTeamStatus ELSE 0 END,
		@PlacedStatus = CASE WHEN (IsNull(People.TCPPlacedUntilDate, getdate() + 1) > getdate() AND TCPPlacedStatus > 0) THEN TCPPlacedStatus ELSE 0 END		
	FROM People WITH(NOLOCK)
	WHERE People.PeopleID = @PeopleID

	IF (@Ret < @CBlock) SET @Ret = @CBlock
	IF (@Ret < @CandStatus) SET @Ret = @CandStatus
	IF (@Ret < @CTStatus) SET @Ret = @CTStatus
	IF (@Ret < @PlacedStatus) SET @Ret = @PlacedStatus

	RETURN @Ret

END

GO

GRANT EXECUTE ON [dbo].[fn_DFMobile_GetBlockForPerson]  TO [DeskFlowUsers]

GO
