/*
   November 12, 201412:49:20 PM
   User: SUPER
   Server: sql2005
   Database: DFEMASTER2005
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.CandidateReferrals
	DROP CONSTRAINT DF_CandidateReferrals_CreatedOn
GO
ALTER TABLE dbo.CandidateReferrals
	DROP CONSTRAINT DF_CandidateReferrals_CreatedBy
GO
ALTER TABLE dbo.CandidateReferrals
	DROP CONSTRAINT DF_CandidateReferrals_UpdatedBy
GO
ALTER TABLE dbo.CandidateReferrals
	DROP CONSTRAINT DF_CandidateReferrals_UpdateOn
GO
CREATE TABLE dbo.Tmp_CandidateReferrals
	(
	CandidateReferralsID int NOT NULL IDENTITY (1, 1),
	ProjectsID int NULL,
	JobOrdersID int NULL,
	PeopleID int NOT NULL,
	SourcePeopleID int NULL,
	Notes text NULL,
	Rank varchar(10) NULL,
	CreatedOn datetime NULL,
	CreatedBy varchar(20) NULL,
	RefType varchar(10) NULL,
	RelActivityHistoryID int NULL,
	UpdatedBy varchar(20) NULL,
	UpdatedOn datetime NULL,
	Rank2 varchar(10) NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
GRANT DELETE ON dbo.Tmp_CandidateReferrals TO DeskFlowUsers  AS dbo
GO
GRANT INSERT ON dbo.Tmp_CandidateReferrals TO DeskFlowUsers  AS dbo
GO
GRANT REFERENCES ON dbo.Tmp_CandidateReferrals TO DeskFlowUsers  AS dbo
GO
GRANT SELECT ON dbo.Tmp_CandidateReferrals TO DeskFlowUsers  AS dbo
GO
GRANT UPDATE ON dbo.Tmp_CandidateReferrals TO DeskFlowUsers  AS dbo
GO
ALTER TABLE dbo.Tmp_CandidateReferrals ADD CONSTRAINT
	DF_CandidateReferrals_CreatedOn DEFAULT (getdate()) FOR CreatedOn
GO
ALTER TABLE dbo.Tmp_CandidateReferrals ADD CONSTRAINT
	DF_CandidateReferrals_CreatedBy DEFAULT (suser_sname()) FOR CreatedBy
GO
ALTER TABLE dbo.Tmp_CandidateReferrals ADD CONSTRAINT
	DF_CandidateReferrals_UpdatedBy DEFAULT (suser_sname()) FOR UpdatedBy
GO
ALTER TABLE dbo.Tmp_CandidateReferrals ADD CONSTRAINT
	DF_CandidateReferrals_UpdateOn DEFAULT (getdate()) FOR UpdatedOn
GO
SET IDENTITY_INSERT dbo.Tmp_CandidateReferrals ON
GO
IF EXISTS(SELECT * FROM dbo.CandidateReferrals)
	 EXEC('INSERT INTO dbo.Tmp_CandidateReferrals (CandidateReferralsID, ProjectsID, JobOrdersID, PeopleID, SourcePeopleID, Notes, Rank, CreatedOn, CreatedBy, RefType, RelActivityHistoryID, UpdatedBy, UpdatedOn, Rank2)
		SELECT CandidateReferralsID, ProjectsID, JobOrdersID, PeopleID, SourcePeopleID, Notes, Rank, CreatedOn, CreatedBy, RefType, RelActivityHistoryID, UpdatedBy, UpdatedOn, Rank2 FROM dbo.CandidateReferrals WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_CandidateReferrals OFF
GO
DROP TABLE dbo.CandidateReferrals
GO
EXECUTE sp_rename N'dbo.Tmp_CandidateReferrals', N'CandidateReferrals', 'OBJECT' 
GO
ALTER TABLE dbo.CandidateReferrals ADD CONSTRAINT
	PK_CandidateReferrals PRIMARY KEY CLUSTERED 
	(
	CandidateReferralsID
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
CREATE NONCLUSTERED INDEX ProjectsAndPeople ON dbo.CandidateReferrals
	(
	ProjectsID,
	PeopleID
	) WITH( PAD_INDEX = OFF, FILLFACTOR = 80, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX PeopleIDs ON dbo.CandidateReferrals
	(
	PeopleID
	) WITH( PAD_INDEX = OFF, FILLFACTOR = 80, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX JobOrdersAndPeople ON dbo.CandidateReferrals
	(
	JobOrdersID,
	PeopleID
	) WITH( PAD_INDEX = OFF, FILLFACTOR = 80, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX SourcePeopleID ON dbo.CandidateReferrals
	(
	SourcePeopleID
	) WITH( PAD_INDEX = OFF, FILLFACTOR = 80, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
CREATE TRIGGER [dbo].[CandidateReferralsINSERT] ON dbo.CandidateReferrals 
FOR INSERT AS
declare @PeopleID int
declare @ProjectsID             int
declare @BlockLevel             int
declare Row cursor local  for
     select 
         PeopleID,
         ProjectsID
     from 
         Inserted
open Row
set @BlockLevel = (select BlockLevel from Worklists where listName = 'Referrals')
fetch next from Row into @PeopleID, @ProjectsID
WHILE @@fetch_status = 0
    BEGIN
	IF NOT EXISTS( SELECT ProjectsCallStatusID FROM ProjectsCallStatus WITH(NOLOCK) 
	WHERE ProjectsCallStatus.PeopleID = @PeopleID AND ProjectsCallStatus.ProjectsID = @ProjectsID )
	BEGIN
		declare @ProjectsCallStatusID int
		EXECUTE GetNewID 'ProjectsCallStatusID',@ProjectsCallStatusID OUTPUT 
		INSERT INTO ProjectsCallStatus( ProjectsCallStatusID, PeopleID, ProjectsID, InclSR)
		VALUES(  @ProjectsCallStatusID, @PeopleID, @ProjectsID, 1 )
	END
	ELSE 
		UPDATE ProjectsCallStatus SET InclSR = 1
		WHERE (ProjectsCallStatus.ProjectsID = @ProjectsID AND ProjectsCallStatus.PeopleID = @PeopleID)
	if ( @BlockLevel > 0 and @ProjectsID >0 )
		UPDATE People set CandidateBlockStatus = @BlockLevel,BlockDescription ='Referrals',
		CandidateBlockProjectsID = @ProjectsID FROM people,Projects,ProjectStatus 
		where People.PeopleID = @PeopleID and Projects.ProjectsID=@ProjectsID
        and Projects.ProjectStatus=ProjectStatus.Name and  StatusActive=1
        and IsNull(Projects.NEDProject,0) = 0
        fetch next from Row into @PeopleID, @ProjectsID
    END   
close  Row
deallocate  Row
GO
CREATE  TRIGGER [dbo].[CandidateReferralsOnDelete] ON dbo.CandidateReferrals
FOR DELETE
AS
-----------------------------------------------------------------------------------------------------------
declare @PeopleID               int
declare @ProjectsID             int

declare Row cursor local  for
     select 
         PeopleID,
         ProjectsID
     from 
         deleted
-----------------------------------------------------------------------------------------------------------

open Row

fetch next from Row into @PeopleID, @ProjectsID

while @@fetch_status = 0
    begin

	 UPDATE ProjectsCallStatus SET ProjectsCallStatus.InclSR = NULL
	  WHERE ( ProjectsCallStatus.PeopleID = @PeopleID AND ProjectsCallStatus.ProjectsID = @ProjectsID )	
         fetch next from Row into @PeopleID, @ProjectsID

    end
          
close            Row
deallocate  Row
GO
CREATE TRIGGER CandidateReferralsUpdate ON dbo.CandidateReferrals 
FOR UPDATE
NOT FOR REPLICATION
AS
UPDATE CandidateReferrals
SET CandidateReferrals.UpdatedBy = suser_sname(),
UpdatedOn = GETDATE()
FROM Inserted, CandidateReferrals 
WHERE Inserted.CandidateReferralsID = CandidateReferrals.CandidateReferralsID
GO
COMMIT
