/****** Object:  StoredProcedure [dbo].[AddCandidateProjectBlock]    Script Date: 06/18/2015 14:06:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[AddCandidateProjectBlock] @ProjectsID int, @PeopleID int, @ListID int
AS

declare @BlockLevel int
declare @BlockDescription varchar(255)
SELECT @BlockLevel = BlockLevel, @BlockDescription = Caption
FROM Worklists WITH(NOLOCK) WHERE WorkListsID = @ListID

INSERT INTO ProjectsCandidateBlocks (ProjectsID, PeopleID, WorkListsID, CreatedOn )
VALUES (@ProjectsID, @PeopleID, @ListID, GETDATE() )

	IF ( @BlockLevel > 0 )
	BEGIN
		UPDATE People set CandidateBlockStatus = @BlockLevel,
		BlockDescription = @BlockDescription,
		CandidateBlockProjectsID = @ProjectsID FROM people,Projects,ProjectStatus 
		where People.PeopleID = @PeopleID and Projects.ProjectsID=@ProjectsID
        and Projects.ProjectStatus=ProjectStatus.Name and  StatusActive=1
        and IsNull(Projects.NEDProject,0) = 0
		and ( IsNull(CandidateBlockStatus,0) < @BlockLevel
			OR IsNull(CandidateBlockStatus,0) = @BlockLevel AND CandidateBlockProjectsID = @ProjectsID )
    END   

