/****** Object:  Table [dbo].[PeopleAdditionalNames]    Script Date: 09/08/2014 16:49:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PeopleAdditionalNames](
	[AdditionalNamesID] [int] IDENTITY(1,1) NOT NULL,
	[PeopleID] [int] NOT NULL,
	[Type] [varchar](100) NULL,
	[Name] [varchar](100) NULL,
 CONSTRAINT [PK_PeopleAdditionalNames] PRIMARY KEY CLUSTERED 
(
	[AdditionalNamesID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

GRANT  SELECT ,  UPDATE ,  INSERT ,  DELETE  ON [dbo].[PeopleAdditionalNames]  TO [DeskFlowUsers]

GO
