ALTER TABLE ClientConfig add MandatoryFieldsOpportunities varchar(255)
GO
ALTER TABLE Institutions ALTER COLUMN [Name] varchar(50)
GO
ALTER TABLE Institutions ALTER COLUMN [Description] varchar(255)
GO
ALTER TABLE Education ALTER COLUMN Institution varchar(255)
GO
ALTER TABLE UserlastTouch add SendFromTempNow int default (0)
go 
update UserlastTouch set SendFromTempNow =0
GO
ALTER TABLE ClientConfig add MandatoryFieldsPositions varchar(255)
GO
ALTER TABLE WorkLists add AllowTO bit, Caption varchar(50)
GO
UPDATE WorkLists set Caption = Listname,AllowTO=1
GO 
UPDATE WorkLists set AllowTO=0 where Listname in ('Placed','Sources')
GO
ALTER TABLE Interview add Cancelled bit
GO
ALTER TABLE InternalInterviews add Cancelled bit
GO 
ALTER TABLE Projects add ProjectGrade varchar(50)
