ALTER TABLE [dbo].[WebApplications]
ADD [MaritalStatus] [varchar](255) NULL,
	[Citizenship] [varchar](20) NULL,
	[BirthPlace] [varchar](255) NULL,
	[SkypePhone] [varchar](255) NULL,
	[Gender] [varchar](1) NULL,
	[Profession] [varchar](255) NULL,
	[Hobbies] [varchar](255) NULL
GO

ALTER TABLE [dbo].[Duplicates]
ADD [MaritalStatus] [varchar](255) NULL,
	[Citizenship] [varchar](20) NULL,
	[BirthPlace] [varchar](255) NULL,
	[SkypePhone] [varchar](255) NULL,
	[Gender] [varchar](1) NULL,
	[Profession] [varchar](255) NULL,
	[Hobbies] [varchar](255) NULL
GO