if ( select count(*) from DataCashTables where name='VerifiedDetailsLookup')=0
INSERT INTO DataCashTables (Name,UpdatedOn) VALUES ('VerifiedDetailsLookup',getdate())
GO
CREATE TRIGGER [dbo].[VerifiedDetailsLookupTrigger] ON [dbo].[VerifiedDetailsLookup] 
FOR INSERT, UPDATE, DELETE 
AS
UPDATE DataCashTables set UpdatedOn = getdate()
WHERE Name ='VerifiedDetailsLookup'
GO
ALTER TABLE Responces add WorkGroups varchar(255)
GO
if ( select count(*) from LinkSearchListsToCandStage where Listname='New JobOrder')=0
INSERT INTO LinkSearchListsToCandStage ( SearchListID,ListName,IsList,ForJobOrders ) 
select max(SearchListID)+1,'New JobOrder',0,1 from LinkSearchListsToCandStage
GO
ALTER  TRIGGER [dbo].[CandidateReferralsOnDelete] ON [dbo].[CandidateReferrals]
FOR DELETE
AS

IF EXISTS( SELECT ProjectsCallStatusID FROM ProjectsCallStatus, Deleted 
WHERE ProjectsCallStatus.PeopleID = Deleted.PeopleID AND ProjectsCallStatus.ProjectsID = Deleted.ProjectsID 
			and IsNull(InclFS,0)=0 and IsNull(InclBM,0)=0 and IsNull(InclTC,0)=0 and IsNull(InclAR,0)=0
			and IsNull(InclIR,0)=0 and IsNull(InclSO,0)=0 and IsNull(InclCR,0)=0 and
			IsNull(InclII,0)=0 and IsNull(InclPR,0)=0 and IsNull(InclCI,0)=0 and IsNull(InclPL,0)=0 )
		  delete ProjectsCallStatus
		  from  ProjectsCallStatus,deleted 
		  WHERE  ProjectsCallStatus.PeopleID = deleted.PeopleID AND ProjectsCallStatus.ProjectsID = deleted.ProjectsID 	
else
	UPDATE ProjectsCallStatus SET InclSR = NULL
	FROM Deleted,ProjectsCallStatus WHERE 
	(ProjectsCallStatus.ProjectsID = Deleted.ProjectsID AND ProjectsCallStatus.PeopleID = Deleted.PeopleID)
GO
ALTER  TRIGGER [dbo].[ProjectsFileSearchCandidatesOnDelete] ON [dbo].[ProjectsFileSearchCandidates]
FOR DELETE
AS
-----------------------------------------------------------------------------------------------------------
IF EXISTS( SELECT ProjectsCallStatusID FROM ProjectsCallStatus, Deleted 
WHERE ProjectsCallStatus.PeopleID = Deleted.PeopleID AND ProjectsCallStatus.ProjectsID = Deleted.ProjectsID 
			and IsNull(InclSR,0)=0 and IsNull(InclBM,0)=0 and IsNull(InclTC,0)=0 and IsNull(InclAR,0)=0
			and IsNull(InclIR,0)=0 and IsNull(InclSO,0)=0 and IsNull(InclCR,0)=0 and
			IsNull(InclII,0)=0 and IsNull(InclPR,0)=0 and IsNull(InclCI,0)=0 and IsNull(InclPL,0)=0 )
		  delete ProjectsCallStatus
		  from  ProjectsCallStatus,deleted 
		  WHERE  ProjectsCallStatus.PeopleID = deleted.PeopleID AND ProjectsCallStatus.ProjectsID = deleted.ProjectsID 	
else
	UPDATE ProjectsCallStatus SET InclFS = NULL
	FROM Deleted,ProjectsCallStatus WHERE 
	(ProjectsCallStatus.ProjectsID = Deleted.ProjectsID AND ProjectsCallStatus.PeopleID = Deleted.PeopleID)
GO
ALTER  TRIGGER [dbo].[ProjectsBenchmarkCandidatesOnDelete] ON [dbo].[ProjectsBenchmarkCandidates]
FOR DELETE
AS
-----------------------------------------------------------------------------------------------------------

IF EXISTS( SELECT ProjectsCallStatusID FROM ProjectsCallStatus, Deleted 
WHERE ProjectsCallStatus.PeopleID = Deleted.PeopleID AND ProjectsCallStatus.ProjectsID = Deleted.ProjectsID 
			and IsNull(InclSR,0)=0 and IsNull(InclFS,0)=0 and IsNull(InclTC,0)=0 and IsNull(InclAR,0)=0
			and IsNull(InclIR,0)=0 and IsNull(InclSO,0)=0 and IsNull(InclCR,0)=0 and
			IsNull(InclII,0)=0 and IsNull(InclPR,0)=0 and IsNull(InclCI,0)=0 and IsNull(InclPL,0)=0 )
		  delete ProjectsCallStatus
		  from  ProjectsCallStatus,deleted 
		  WHERE  ProjectsCallStatus.PeopleID = deleted.PeopleID AND ProjectsCallStatus.ProjectsID = deleted.ProjectsID 	
else
	UPDATE ProjectsCallStatus SET InclBM = NULL
	FROM Deleted,ProjectsCallStatus WHERE 
	(ProjectsCallStatus.ProjectsID = Deleted.ProjectsID AND ProjectsCallStatus.PeopleID = Deleted.PeopleID)
GO
ALTER  TRIGGER [dbo].[ProjectsPresentedListsOnDelete] ON [dbo].[ProjectsPresentedLists]
FOR DELETE
AS
-----------------------------------------------------------------------------------------------------------

IF EXISTS( SELECT ProjectsCallStatusID FROM ProjectsCallStatus, Deleted 
WHERE ProjectsCallStatus.PeopleID = Deleted.PeopleID AND ProjectsCallStatus.ProjectsID = Deleted.ProjectsID 
			and IsNull(InclSR,0)=0 and IsNull(InclFS,0)=0 and IsNull(InclTC,0)=0 and IsNull(InclAR,0)=0
			and IsNull(InclIR,0)=0 and IsNull(InclSO,0)=0 and IsNull(InclCR,0)=0 and
			IsNull(InclII,0)=0 and IsNull(InclBM,0)=0 and IsNull(InclCI,0)=0 and IsNull(InclPL,0)=0 )
		  delete ProjectsCallStatus
		  from  ProjectsCallStatus,deleted 
		  WHERE  ProjectsCallStatus.PeopleID = deleted.PeopleID AND ProjectsCallStatus.ProjectsID = deleted.ProjectsID 	
else
	UPDATE ProjectsCallStatus SET InclPR = NULL
	FROM Deleted,ProjectsCallStatus WHERE 
	(ProjectsCallStatus.ProjectsID = Deleted.ProjectsID AND ProjectsCallStatus.PeopleID = Deleted.PeopleID)

GO
ALTER TRIGGER [dbo].[ProjectsShortListsOnDelete] ON [dbo].[ProjectsShortLists]
FOR DELETE
AS
-----------------------------------------------------------------------------------------------------------
declare @PeopleID               int
declare @ProjectsID             int
declare @B1 bit,@B2 bit,@B3 bit,@B4 bit,@B5 bit,@B6 bit,@B7 bit,@B8 bit,
@B9 bit,@B10 bit,@B11 bit

declare Row cursor local  for
     select 
         deleted.PeopleID,
         deleted.ProjectsID,IsNull(InclFS,0),IsNull(InclSR,0),IsNull(InclTC,0),IsNull(InclAR,0),
IsNull(InclIR,0),IsNull(InclSO,0),IsNull(InclCR,0),IsNull(InclII,0),IsNull(InclBM,0),IsNull(InclPR,0),IsNull(InclPL,0)
     from 
         deleted 
LEFT JOIN ProjectsCallStatus as PCS with ( nolock) 
on deleted.ProjectsID=PCS.ProjectsID and deleted.PeopleID=PCS.PeopleID

open Row

fetch next from Row into @PeopleID, @ProjectsID,@B1,@B2,@B3,@B4,@B5,@B6,@B7,@B8,@B9,@B10,@B11

while @@fetch_status = 0
    begin

         delete Interview                    where PeopleID = @PeopleID AND ProjectsID = @ProjectsID 
         delete CandidateCredentials where CandidatePeopleID = @PeopleID AND ProjectsID = @ProjectsID
         delete CandidateReferences where PeopleID = @PeopleID AND ProjectsID = @ProjectsID
		 if ( @B1=0 and @B2=0 and @B3=0 and @B4=0 and @B5=0 and @B6=0 and @B7=0 and @B8=0 and 
             @B9=0 and @B10=0 and @B11=0  )
			 delete from ProjectsCallStatus where ProjectsCallStatus.PeopleID = @PeopleID AND ProjectsCallStatus.ProjectsID = @ProjectsID 	
         else
			UPDATE ProjectsCallStatus SET ProjectsCallStatus.InclCI = NULL
			WHERE ( ProjectsCallStatus.PeopleID = @PeopleID AND ProjectsCallStatus.ProjectsID = @ProjectsID )	
         fetch next from Row into @PeopleID, @ProjectsID,@B1,@B2,@B3,@B4,@B5,@B6,@B7,@B8,@B9,@B10,@B11

    end
          
close            Row
deallocate  Row

GO
ALTER TRIGGER [dbo].[ProjectsInternalInterviewListsOnDelete] ON [dbo].[ProjectsInternalInterviewLists]
FOR DELETE
AS
-----------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------
declare @ProjectsID            	int
declare @PeopleID		int
declare @B1 bit,@B2 bit,@B3 bit,@B4 bit,@B5 bit,@B6 bit,@B7 bit,@B8 bit,
@B9 bit,@B10 bit,@B11 bit

declare Row cursor local  for
     select 
         deleted.PeopleID,
         deleted.ProjectsID,IsNull(InclFS,0),IsNull(InclSR,0),IsNull(InclTC,0),IsNull(InclAR,0),IsNull(InclIR,0),
IsNull(InclSO,0),IsNull(InclCR,0),IsNull(InclCI,0),IsNull(InclBM,0),IsNull(InclPR,0),IsNull(InclPL,0)
     from 
         deleted 
LEFT JOIN ProjectsCallStatus as PCS with ( nolock) 
on deleted.ProjectsID=PCS.ProjectsID and deleted.PeopleID=PCS.PeopleID
-----------------------------------------------------------------------------------------------------------

open Row

fetch next from Row into @PeopleID, @ProjectsID, @B1,@B2,@B3,@B4,@B5,@B6,@B7,@B8,@B9,@B10,@B11

while @@fetch_status = 0
    begin
	 delete InternalInterviews where PeopleID = @PeopleID AND ProjectsID = @ProjectsID AND Done = 0
	 if ( @B1=0 and @B2=0 and @B3=0 and @B4=0 and @B5=0 and @B6=0 and @B7=0 and @B8=0 and 
             @B9=0 and @B10=0 and @B11=0  )
			 delete from ProjectsCallStatus where ProjectsCallStatus.PeopleID = @PeopleID AND ProjectsCallStatus.ProjectsID = @ProjectsID 	
    else
		 UPDATE ProjectsCallStatus SET ProjectsCallStatus.InclII = NULL
		 WHERE ( ProjectsCallStatus.PeopleID = @PeopleID AND ProjectsCallStatus.ProjectsID = @ProjectsID )	
         fetch next from Row into @PeopleID, @ProjectsID, @B1,@B2,@B3,@B4,@B5,@B6,@B7,@B8,@B9,@B10,@B11

    end
          
close            Row
deallocate  Row
GO
ALTER  TRIGGER [dbo].[ProjectsTargetListsOnDelete] ON [dbo].[ProjectsTargetLists]
FOR DELETE
AS
-----------------------------------------------------------------------------------------------------------
IF EXISTS( SELECT ProjectsCallStatusID FROM ProjectsCallStatus, Deleted 
WHERE ProjectsCallStatus.PeopleID = Deleted.PeopleID AND ProjectsCallStatus.ProjectsID = Deleted.ProjectsID 
			and IsNull(InclSR,0)=0 and IsNull(InclFS,0)=0 and IsNull(InclTC,0)=0 and IsNull(InclAR,0)=0
			and IsNull(InclIR,0)=0 and IsNull(InclSO,0)=0 and IsNull(InclII,0)=0 and
			IsNull(InclCI,0)=0 and IsNull(InclBM,0)=0 and IsNull(InclPR,0)=0 and IsNull(InclPL,0)=0 )
		  delete ProjectsCallStatus
		  from  ProjectsCallStatus,deleted 
		  WHERE  ProjectsCallStatus.PeopleID = deleted.PeopleID AND ProjectsCallStatus.ProjectsID = deleted.ProjectsID 	
else
	UPDATE ProjectsCallStatus SET InclCR = NULL
	FROM Deleted,ProjectsCallStatus WHERE 
	(ProjectsCallStatus.ProjectsID = Deleted.ProjectsID AND ProjectsCallStatus.PeopleID = Deleted.PeopleID)
GO
ALTER  TRIGGER [dbo].[ProjectsSourcesOnDelete] ON [dbo].[ProjectsSources]
FOR DELETE
AS
-----------------------------------------------------------------------------------------------------------
IF EXISTS( SELECT ProjectsCallStatusID FROM ProjectsCallStatus, Deleted 
WHERE ProjectsCallStatus.PeopleID = Deleted.PeopleID AND ProjectsCallStatus.ProjectsID = Deleted.ProjectsID 
			and IsNull(InclSR,0)=0 and IsNull(InclFS,0)=0 and IsNull(InclTC,0)=0 and IsNull(InclAR,0)=0
			and IsNull(InclIR,0)=0 and IsNull(InclCR,0)=0 and IsNull(InclII,0)=0 and
			IsNull(InclCI,0)=0 and IsNull(InclBM,0)=0 and IsNull(InclPR,0)=0 and IsNull(InclPL,0)=0 )
		  delete ProjectsCallStatus
		  from  ProjectsCallStatus,deleted 
		  WHERE  ProjectsCallStatus.PeopleID = deleted.PeopleID AND ProjectsCallStatus.ProjectsID = deleted.ProjectsID 	
else
	UPDATE ProjectsCallStatus SET InclSO = NULL
	FROM Deleted,ProjectsCallStatus WHERE 
	(ProjectsCallStatus.ProjectsID = Deleted.ProjectsID AND ProjectsCallStatus.PeopleID = Deleted.PeopleID)
GO
ALTER  TRIGGER [dbo].[PeopleAppliedToOnDelete] ON [dbo].[PeopleAppliedTo]
FOR DELETE
AS
-----------------------------------------------------------------------------------------------------------
IF EXISTS( SELECT ProjectsCallStatusID FROM ProjectsCallStatus, Deleted 
WHERE ProjectsCallStatus.PeopleID = Deleted.PeopleID AND ProjectsCallStatus.ProjectsID = Deleted.ProjectsID 
			and IsNull(InclSR,0)=0 and IsNull(InclFS,0)=0 and IsNull(InclTC,0)=0 and IsNull(InclSO,0)=0
			and IsNull(InclIR,0)=0 and IsNull(InclCR,0)=0 and IsNull(InclII,0)=0 and
			IsNull(InclCI,0)=0 and IsNull(InclBM,0)=0 and IsNull(InclPR,0)=0 and IsNull(InclPL,0)=0 )
		  delete ProjectsCallStatus
		  from  ProjectsCallStatus,deleted 
		  WHERE  ProjectsCallStatus.PeopleID = deleted.PeopleID AND ProjectsCallStatus.ProjectsID = deleted.ProjectsID 	
else
	UPDATE ProjectsCallStatus SET InclAR = NULL
	FROM Deleted,ProjectsCallStatus WHERE 
	(ProjectsCallStatus.ProjectsID = Deleted.ProjectsID AND ProjectsCallStatus.PeopleID = Deleted.PeopleID)
GO
ALTER  TRIGGER [dbo].[ProjectTargetCompaniesCandidatesOnDelete] ON [dbo].[ProjectTargetCompaniesCandidates]
FOR DELETE
AS
-----------------------------------------------------------------------------------------------------------
IF EXISTS( SELECT ProjectsCallStatusID FROM ProjectsCallStatus, Deleted 
WHERE ProjectsCallStatus.PeopleID = Deleted.PeopleID AND ProjectsCallStatus.ProjectsID = Deleted.ProjectsID 
			and IsNull(InclSR,0)=0 and IsNull(InclFS,0)=0 and IsNull(InclAR,0)=0 and IsNull(InclSO,0)=0
			and IsNull(InclIR,0)=0 and IsNull(InclCR,0)=0 and IsNull(InclII,0)=0 and
			IsNull(InclCI,0)=0 and IsNull(InclBM,0)=0 and IsNull(InclPR,0)=0 and IsNull(InclPL,0)=0 )
		  delete ProjectsCallStatus
		  from  ProjectsCallStatus,deleted 
		  WHERE  ProjectsCallStatus.PeopleID = deleted.PeopleID AND ProjectsCallStatus.ProjectsID = deleted.ProjectsID 	
else
	UPDATE ProjectsCallStatus SET InclTC = NULL
	FROM Deleted,ProjectsCallStatus WHERE 
	(ProjectsCallStatus.ProjectsID = Deleted.ProjectsID AND ProjectsCallStatus.PeopleID = Deleted.PeopleID)

GO
ALTER  TRIGGER [dbo].[ProjectsClientEmployeesListsOnDelete] ON [dbo].[ProjectsClientEmployeesLists]
FOR DELETE
AS
-----------------------------------------------------------------------------------------------------------
IF EXISTS( SELECT ProjectsCallStatusID FROM ProjectsCallStatus, Deleted 
WHERE ProjectsCallStatus.PeopleID = Deleted.PeopleID AND ProjectsCallStatus.ProjectsID = Deleted.ProjectsID 
			and IsNull(InclSR,0)=0 and IsNull(InclFS,0)=0 and IsNull(InclAR,0)=0 and IsNull(InclSO,0)=0
			and IsNull(InclTC,0)=0 and IsNull(InclCR,0)=0 and IsNull(InclII,0)=0 and
			IsNull(InclCI,0)=0 and IsNull(InclBM,0)=0 and IsNull(InclPR,0)=0 and IsNull(InclPL,0)=0 )
		  delete ProjectsCallStatus
		  from  ProjectsCallStatus,deleted 
		  WHERE  ProjectsCallStatus.PeopleID = deleted.PeopleID AND ProjectsCallStatus.ProjectsID = deleted.ProjectsID 	
else
	UPDATE ProjectsCallStatus SET InclIR = NULL
	FROM Deleted,ProjectsCallStatus WHERE 
	(ProjectsCallStatus.ProjectsID = Deleted.ProjectsID AND ProjectsCallStatus.PeopleID = Deleted.PeopleID)
GO
ALTER   TRIGGER [dbo].[PositionsDelete] ON [dbo].[Positions]
FOR DELETE
AS
-----------------------------------------------------------------------------------------------------------
declare @PositionsID        int
declare @ProjectsID         int
declare @JobOrdersID        int
declare @PeopleID			int

declare Row cursor local  for
     select  PositionsID, PeopleID, ProjectsID, JobOrdersID
     from 
         deleted
-----------------------------------------------------------------------------------------------------------

open Row

fetch next from Row into @PositionsID, @PeopleID, @ProjectsID, @JobOrdersID

while @@fetch_status = 0
    begin

        delete from PositionDetails             	where PositionsID =  @PositionsID
        delete from LinkPositionsToRates             	where PositionsID =  @PositionsID
        delete from LinkJobOrderScheduleToPosition      where PositionsID =  @PositionsID
        delete from LinkJobOrderToWorksteps      where PositionsID =  @PositionsID
		update Task SET PositionsID = NULL 	where PositionsID =  @PositionsID
		delete from TimeSheets 			where PositionsID =  @PositionsID
		delete from PositionExpenses    	where PositionsID =  @PositionsID
		delete from JobOrderPositionTeams	where PositionsID = @PositionsID
        if ( @ProjectsID > 0 )
          begin
			IF EXISTS( SELECT ProjectsCallStatusID FROM ProjectsCallStatus WITH(NOLOCK) 
			WHERE PeopleID = @PeopleID AND ProjectsID = @ProjectsID AND ProjectsID > 0
			and IsNull(InclFS,0)=0 and IsNull(InclBM,0)=0 and IsNull(InclTC,0)=0 and IsNull(InclAR,0)=0
			and IsNull(InclIR,0)=0 and IsNull(InclSO,0)=0 and IsNull(InclCR,0)=0 and
			IsNull(InclII,0)=0 and IsNull(InclPR,0)=0 and IsNull(InclCI,0)=0 and IsNull(InclSR,0)=0 )
				delete from ProjectsCallStatus WHERE PeopleID = @PeopleID AND ProjectsID = @ProjectsID 	
			else
				UPDATE ProjectsCallStatus SET ProjectsCallStatus.InclPL = NULL
				WHERE ( ProjectsCallStatus.PeopleID = @PeopleID 
				AND ProjectsCallStatus.ProjectsID = @ProjectsID AND @ProjectsID > 0)	
		  end
         fetch next from Row into @PositionsID, @PeopleID, @ProjectsID, @JobOrdersID

    end
          
close            Row
deallocate  Row
