/****** Object:  Trigger [dbo].[CompaniesBlockUpdate]    Script Date: 01/26/2016 18:27:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER  TRIGGER [dbo].[CompaniesBlockUpdate] ON [dbo].[CompaniesBlock]
FOR UPDATE
NOT FOR REPLICATION 
AS
BEGIN

	UPDATE  CompaniesBlock
	SET  CompaniesBlock.UpdatedBy = suser_sname(),
	UpdatedOn = getutcdate()
	FROM Inserted,  CompaniesBlock
	WHERE Inserted.CompaniesBlockID =  CompaniesBlock.CompaniesBlockID


	-- UPDATE Company Block Info
	-- Update companies table to inherit any existing blocks
	UPDATE Companies
	SET Block = NewBlock.Block,
		BlockUntilDate = NewBlock.BlockUntilDate,
		BlockedBy = NewBlock.BlockedBy,
		BlockNotes = NewBlock.BlockNotes,
		LastProjectID = NewBlock.ProjectsID
	FROM 

		Inserted a
		INNER JOIN Deleted b
		-- Only update when a block was changed
		ON ( a.CompaniesBlockID = b.CompaniesBlockID
			AND ( IsNull(a.Block,0) <> IsNull(b.Block,0) 
			OR IsNull(a.BlockUntilDate,0) <> IsNull(b.BlockUntilDate,0) ) )

		OUTER APPLY (
			
			SELECT TOP 1 CompaniesBlockID, CompaniesID, ProjectsID, Block, BlockUntilDate, BlockedBy, BlockNotes
			FROM CompaniesBlock
			WHERE CompaniesBlock.CompaniesID = a.CompaniesID
				AND IsNull(CompaniesBlock.Block,0) > 0
			ORDER BY CompaniesBlock.BlockUntilDate DESC

		) as NewBlock
	WHERE Companies.CompaniesID = a.CompaniesID


END

