if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[IndustryCodesDeleteTrigger]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[IndustryCodesDeleteTrigger]
GO
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[IndustryCodesTrigger]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[IndustryCodesTrigger]
GO
CREATE TRIGGER [dbo].[IndustryCodesDeleteTrigger] ON [dbo].[IndustryCodes] 
FOR DELETE 
AS
UPDATE DataCashTables set UpdatedOn = getutcdate(), UTCUpdatedOn=1 
 WHERE Name ='IndustryCodes'
 delete CompaniesIndustry
 from CompaniesIndustry, deleted
 where CompaniesIndustry.IndustryCode1 = deleted.Code1 and 
 ISNULL(CompaniesIndustry.IndustryCode2,0) = IsNull(deleted.Code2,0 ) and
ISNULL(CompaniesIndustry.IndustryCode3,0) = IsNull(deleted.Code3,0 ) and
ISNULL(CompaniesIndustry.IndustryCode4,0) = IsNull(deleted.Code4,0 ) and
ISNULL(CompaniesIndustry.IndustryCode5,0) = IsNull(deleted.Code5,0 ) and
ISNULL(CompaniesIndustry.IndustryCode6,0) = IsNull(deleted.Code6,0 ) 
GO
CREATE TRIGGER [dbo].[IndustryCodesTrigger] ON [dbo].[IndustryCodes] 
FOR INSERT 
AS
UPDATE DataCashTables set UpdatedOn = getutcdate(), UTCUpdatedOn=1
WHERE Name ='IndustryCodes'
