/****** Object:  Table [dbo].[MProjectCompaniesLists]    Script Date: 04/16/2014 16:28:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MProjectCompaniesLists](
	[MProjectsID] [int] NOT NULL,
	[CompaniesID] [int] NOT NULL,
	[CreatedOn] [datetime] NULL CONSTRAINT [DF_MProjectCompaniesLists_CreatedOn]  DEFAULT (getdate()),
	[CreatedBy] [varchar](20) NULL CONSTRAINT [DF_MProjectCompaniesLists_CreatedBy]  DEFAULT (suser_sname()),
	[Rank] [varchar](10) NULL,
	[UpdatedOn] [datetime] NULL CONSTRAINT [DF_MProjectCompaniesLists_UpdatedOn]  DEFAULT (getdate()),
	[UpdatedBy] [varchar](20) NULL CONSTRAINT [DF_MProjectCompaniesLists_UpdatedBy]  DEFAULT (suser_sname()),
 CONSTRAINT [PK_MProjectCompaniesLists] PRIMARY KEY NONCLUSTERED 
(
	[MProjectsID] ASC,
	[CompaniesID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF

GO
/****** Object:  Trigger [dbo].[MProjectCompaniesListsDelete]    Script Date: 04/16/2014 16:34:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[MProjectCompaniesListsDelete] ON [dbo].[MProjectCompaniesLists]
FOR DELETE
AS
-----------------------------------------------------------------------------------------------------------
declare @MProjectsID         int
declare @CompaniesID	  int

declare Row cursor local  for
     select  MProjectsID, CompaniesID
     from 
         deleted
-----------------------------------------------------------------------------------------------------------

open Row

fetch next from Row into @MProjectsID, @CompaniesID

while @@fetch_status = 0
    begin

         delete from MProjectCompaniesContacts
             where MProjectsID =  @MProjectsID and CompaniesID = @CompaniesID

         fetch next from Row into @MProjectsID, @CompaniesID

    end
          
close            Row
deallocate  Row

GO
/****** Object:  Trigger [dbo].[MProjectCompaniesListsUpdate]    Script Date: 04/16/2014 16:37:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   TRIGGER [dbo].[MProjectCompaniesListsUpdate] ON [dbo].[MProjectCompaniesLists]
FOR UPDATE
AS

update MProjectCompaniesLists set 
             MProjectCompaniesLists.UpdatedBy = suser_sname(),
             MProjectCompaniesLists.UpdatedOn = getdate()
FROM Inserted, MProjectCompaniesLists 
WHERE Inserted.CompaniesID = MProjectCompaniesLists.CompaniesID
AND Inserted.MProjectsID	= MProjectCompaniesLists.MProjectsID	


GO

/****** Object:  Table [dbo].[MProjectCompaniesContacts]    Script Date: 04/16/2014 17:27:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MProjectCompaniesContacts](
	[MProjectsID] [int] NOT NULL,
	[CompaniesID] [int] NOT NULL,
	[PeopleID] [int] NOT NULL,
	[Rank] [char](10) NULL,
	[CreatedOn] [datetime] NULL CONSTRAINT [DF_MProjectCompaniesContacts_CreatedOn]  DEFAULT (getdate()),
	[CreatedBy] [varchar](20) NULL CONSTRAINT [DF_MProjectCompaniesContacts_CreatedBy]  DEFAULT (suser_sname()),
	[UpdatedOn] [datetime] NULL CONSTRAINT [DF_MProjectCompaniesContacts_UpdatedOn]  DEFAULT (getdate()),
	[UpdatedBy] [varchar](20) NULL CONSTRAINT [DF_MProjectCompaniesContacts_UpdatedBy]  DEFAULT (suser_sname()),
	[Rank2] [varchar](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF

GO
/****** Object:  Trigger [dbo].[MProjectCompaniesContactsUpdate]    Script Date: 04/16/2014 17:29:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[MProjectCompaniesContactsUpdate] ON [dbo].[MProjectCompaniesContacts]
FOR UPDATE
AS

update MProjectCompaniesContacts set 
             MProjectCompaniesContacts.UpdatedBy = suser_sname(),
             MProjectCompaniesContacts.UpdatedOn = getdate()
FROM Inserted, MProjectCompaniesContacts 
WHERE Inserted.PeopleID = MProjectCompaniesContacts.PeopleID
AND Inserted.MProjectsID	= MProjectCompaniesContacts.MProjectsID	


GO

/****** Object:  Trigger [dbo].[MProjectsDelete]    Script Date: 04/16/2014 17:32:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER [dbo].[MProjectsDelete] ON [dbo].[MProjects] 
FOR DELETE 
AS
-----------------------------------------------------------------------------------------------------------
declare @MProjectsID         int

declare Row cursor local  for
     select   MProjectsID
     from 
         deleted
-----------------------------------------------------------------------------------------------------------

open Row

fetch next from Row into @MProjectsID

while @@fetch_status = 0
    begin

        delete from LinkObjectToActivityHistory	where LeftID = @MProjectsID and ObjectTableName = 'MProjects'
        delete from LinkObjectToDocument	where LeftID = @MProjectsID and ObjectTableName = 'MProjects'
		update Task set MProjectsID = NULL	where MProjectsID = @MProjectsID
		delete from LinkCandidatesToMProjects	where MProjectsID = @MProjectsID
		delete from LinkCandidatesToMPContacts where MProjectsID = @MProjectsID
        delete from LinkEventsToBusinessObjects where MProjectsID = @MProjectsID
		delete from LinkContactsToMProjects	where MProjectsID = @MProjectsID
		delete from MProjectCompaniesLists where MProjectsID = @MProjectsID
    
		fetch next from Row into @MProjectsID

    end
          
close Row
deallocate  Row


GO
GRANT  SELECT ,  UPDATE ,  INSERT ,  DELETE  ON [dbo].[MProjectCompaniesLists]  TO [DeskFlowUsers]
GO
GRANT  SELECT ,  UPDATE ,  INSERT ,  DELETE  ON [dbo].[MProjectCompaniesContacts]  TO [DeskFlowUsers]
GO




