select * into LinkPeopleToCredentials_Backup from LinkPeopleToCredentials
go
if ( select count(*) from LastIDs where FieldName='LinkPeopleToCredentialsID' ) = 0
begin
 INSERT INTO LastIDs (FieldName, LastID) 
select 'LinkPeopleToCredentialsID',IsNull(max(LinkPeopleToCredentialsID),0)+ 100 from LinkPeopleToCredentials
 drop table LinkPeopleToCredentials
 CREATE TABLE [dbo].[LinkPeopleToCredentials](
	[LinkPeopleToCredentialsID] [int] NOT NULL,
	[CredentialsID] [int] NULL,
	[PeopleID] [int] NULL,
	[CreatedOn] [datetime] NULL CONSTRAINT [DF_LinkPeopleToCredentials_CreatedOn]  DEFAULT (getdate()),
	[CreatedBy] [varchar](20) NULL CONSTRAINT [DF_LinkPeopleToCredentials_CreatedBy]  DEFAULT (suser_sname()),
	[UpdatedOn] [datetime] NULL CONSTRAINT [DF_LinkPeopleToCredentials_UpdatedOn]  DEFAULT (getdate()),
	[UpdatedBy] [varchar](20) NULL CONSTRAINT [DF_LinkPeopleToCredentials_UpdatedBy]  DEFAULT (suser_sname()),
	[FirstRequest] [datetime] NULL,
	[SecondRequest] [datetime] NULL,
	[ThirdRequest] [datetime] NULL,
	[ReceivedOn] [datetime] NULL,
	[Done] [bit] NULL,
	[Status] [varchar](50) NULL,
	[ExpiryDate] [datetime] NULL,
	[Notes] [text] NULL,
	[VerifiedBy] [varchar](20) NULL,
	[VerifiedOn] [datetime] NULL,
	[VerifiedDetails] [varchar](255) NULL,
 CONSTRAINT [PK_LinkPeopleToCredentials] PRIMARY KEY CLUSTERED 
(
	[LinkPeopleToCredentialsID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GRANT  SELECT ,  UPDATE ,  INSERT ,  DELETE  ON [dbo].[LinkPeopleToCredentials]  TO [DeskFlowUsers]
/****** Object:  Index [IX_LinkPeopleToCredentials1]    Script Date: 06/10/2015 08:59:24 ******/
CREATE NONCLUSTERED INDEX [IX_LinkPeopleToCredentials1] ON [dbo].[LinkPeopleToCredentials] 
(
	[PeopleID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
/****** Object:  Index [IX_LinkPeopleToCredentials2]    Script Date: 06/10/2015 08:59:29 ******/
CREATE NONCLUSTERED INDEX [IX_LinkPeopleToCredentials2] ON [dbo].[LinkPeopleToCredentials] 
(
	[CredentialsID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
END
GO
CREATE  TRIGGER [dbo].[LinkPeopleToCredentialsUpdate] ON [dbo].[LinkPeopleToCredentials]
FOR UPDATE 
AS
UPDATE LinkPeopleToCredentials
SET LinkPeopleToCredentials.UpdatedBy =suser_sname(),
UpdatedOn = GETDATE()
FROM Inserted, LinkPeopleToCredentials 
WHERE Inserted.CredentialsID = LinkPeopleToCredentials.CredentialsID
AND Inserted.PeopleID = LinkPeopleToCredentials.PeopleID
GO
insert into LinkPeopleToCredentials ([LinkPeopleToCredentialsID],[CredentialsID],[PeopleID],[CreatedOn],[CreatedBy],[UpdatedOn]
      ,[UpdatedBy],[FirstRequest] ,[SecondRequest],[ThirdRequest],[ReceivedOn],[Done]
      ,[Status] ,[ExpiryDate],[Notes],[VerifiedBy],[VerifiedOn] ,[VerifiedDetails])
select [LinkPeopleToCredentialsID],[CredentialsID],[PeopleID],[CreatedOn],[CreatedBy],[UpdatedOn]
      ,[UpdatedBy],[FirstRequest] ,[SecondRequest],[ThirdRequest],[ReceivedOn],[Done]
      ,[Status] ,[ExpiryDate],[Notes],[VerifiedBy],[VerifiedOn] ,[VerifiedDetails] from LinkPeopleToCredentials_Backup

