/****** Object:  Table [dbo].[PowerSearchTypes]    Script Date: 01/16/2015 15:08:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PowerSearchTypes](
	[PowerSearchTypesID] [int] NOT NULL,
	[Type] [varchar](100) NULL,
	[ParentType] [varchar](100) NULL,
	[Description] [varchar](255) NULL,
	[MenuDescription] [varchar](255) NULL,
	[LinkSQL] [text] NULL,
	[SearchTable] [varchar](100) NULL,
	[SearchID] [varchar](100) NULL,
 CONSTRAINT [PK_PowerSearchTypes] PRIMARY KEY NONCLUSTERED 
(
	[PowerSearchTypesID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF

GO

GRANT  SELECT ,  UPDATE ,  INSERT ,  DELETE  ON [dbo].[PowerSearchTypes]  TO [DeskFlowUsers]

GO

IF NOT EXISTS ( SELECT 1 FROM LastIds WHERE FieldName = 'PowerSearchTypesID' )
BEGIN
	INSERT INTO LastIds (FieldName, LastID) VALUES ('PowerSearchTypesID', 1)
END
