/****** Object:  Table [dbo].[PowerSearchItems]    Script Date: 01/16/2015 15:08:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PowerSearchItems](
	[PowerSearchItemsID] [int] NOT NULL,
	[SearchType] [varchar](100) NULL,
	[FriendlyName] [varchar](100) NULL,
	[SQL] [text] NULL,
	[FullQuery] [bit] NOT NULL CONSTRAINT [DF_PowerSearchItems_FullQuery]  DEFAULT (0),
	[TextSearch] [bit] NOT NULL CONSTRAINT [DF_PowerSearchItems_TestSearch]  DEFAULT (0),
	[FieldName] [varchar](100) NULL,
	[DataType] [varchar](50) NULL,
	[LegacyID] [int] NOT NULL,
 CONSTRAINT [PK_PowerSearchItems] PRIMARY KEY NONCLUSTERED 
(
	[PowerSearchItemsID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF

GO

GRANT  SELECT ,  UPDATE ,  INSERT ,  DELETE  ON [dbo].[PowerSearchItems]  TO [DeskFlowUsers]

GO

IF NOT EXISTS ( SELECT 1 FROM LastIds WHERE FieldName = 'PowerSearchItemsID' )
BEGIN
	INSERT INTO LastIds (FieldName, LastID) VALUES ('PowerSearchItemsID', 1)
END

GO

-- update current power search data with legacy flag
ALTER TABLE PowerSearch
ADD [Legacy] bit NULL

GO

-- set flag
IF NOT EXISTS ( SELECT * FROM PowerSearch WHERE IsNull(Legacy,0) > 0 )
BEGIN
	UPDATE PowerSearch SET Legacy = 1
END