/****** Object:  Trigger [dbo].[ProjectsClientTeamsOnDelete]    Script Date: 09/08/2015 10:20:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER                   TRIGGER [dbo].[ProjectsClientTeamsOnDelete] ON [dbo].[ProjectsClientTeams]
FOR DELETE
AS
-----------------------------------------------------------------------------------------------------------
declare @ProjectsID            	int
declare @PeopleID		int

declare Row cursor local  for
     select 
         ProjectsID, PeopleID
     from 
         deleted
-----------------------------------------------------------------------------------------------------------

open Row

fetch next from Row into @ProjectsID, @PeopleID

while @@fetch_status = 0
    begin
	 
         delete LinkInterviewersToClientInterview where LeftID = @PeopleID
		AND RightID IN ( select InterviewID from Interview where ProjectsID = @ProjectsID
			AND Done = 0 )
         fetch next from Row into @ProjectsID, @PeopleID

    end
          
close            Row
deallocate  Row
