CREATE TABLE [dbo].[AnswerItems](
	[AnswerItemsID] [int] IDENTITY(1,1) NOT NULL,
	[Question] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[QTemplatesItemsID] [int] NULL,
	[QTemplatesID] [int] NULL,
	[ItemIndex] [int] NULL,
	[Indentation] [int] NULL,
	[ObjectTableName] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[ObjectID] [int] NULL,
	[CreatedOn] [datetime] NULL CONSTRAINT [DF_AnswerItems_CreatedOn]  DEFAULT (getdate()),
	[CreatedBy] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AI NULL CONSTRAINT [DF_AnswerItems_CreatedBy]  DEFAULT (suser_sname()),
	[UpdatedOn] [datetime] NULL CONSTRAINT [DF_AnswerItems_UpdatedOn]  DEFAULT (getdate()),
	[UpdatedBy] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AI NULL CONSTRAINT [DF_AnswerItems_UpdatedBy]  DEFAULT (suser_sname()),
	[ItemLabel] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[TextValue] [text] COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[StringValue] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[BoolValue] [bit] NULL,
	[NumValue] [float] NULL,
	[MoneyValue] [money] NULL,
	[DateValue] [datetime] NULL,
	[AllowString] [bit] NULL,
	[AllowText] [bit] NULL,
	[AllowBoolean] [bit] NULL,
	[AllowNumber] [bit] NULL,
	[AllowDate] [bit] NULL,
	[AllowMoney] [bit] NULL,
	[LookupTableName] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[IsHeader] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
GRANT  REFERENCES ,  SELECT ,  UPDATE ,  INSERT ,  DELETE  ON [dbo].[AnswerItems]  TO [DeskFlowUsers]
GO
CREATE TABLE [dbo].[QTemplates](
	[QTemplatesID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[ApplyToObject] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[Status] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[CreatedOn] [datetime] NULL CONSTRAINT [DF_QTemplates_CreatedOn]  DEFAULT (getdate()),
	[CreatedBy] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AI NULL CONSTRAINT [DF_QTemplates_CreatedBy]  DEFAULT (suser_sname()),
	[UpdatedOn] [datetime] NULL CONSTRAINT [DF_QTemplates_UpdatedOn]  DEFAULT (getdate()),
	[UpdatedBy] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AI NULL CONSTRAINT [DF_QTemplates_UpdatedBy]  DEFAULT (suser_sname()),
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[QTemplates] WITH NOCHECK ADD 
	CONSTRAINT [QTemplatesID] PRIMARY KEY  CLUSTERED 
	(
		[QTemplatesID]
	)  ON [PRIMARY] 

GO

GRANT  REFERENCES ,  SELECT ,  UPDATE ,  INSERT ,  DELETE  ON [dbo].[QTemplates]  TO [DeskFlowUsers]
GO
CREATE TABLE [dbo].[QTemplatesItems](
	[QTemplatesItemsID] [int] IDENTITY(1,1) NOT NULL,
	[QTemplatesID] [int] NOT NULL,
	[ItemLabel] [varchar](255) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
	[ItemIndex] [int] NULL,
	[IsHeader] [bit] NULL CONSTRAINT [DF_QTemplatesItems_IsHeader]  DEFAULT (0),
	[Indentation] [int] NULL CONSTRAINT [DF_QTemplatesItems_Indentation]  DEFAULT (0),
	[AllowText] [bit] NULL,
	[AllowString] [bit] NULL,
	[AllowDate] [bit] NULL,
	[AllowNumber] [bit] NULL,
	[AllowMoney] [bit] NULL,
	[AllowBoolean] [bit] NULL,
	[LookupTableName] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AI NULL,
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[QTemplatesItems] WITH NOCHECK ADD 
	CONSTRAINT [QTemplatesItemsID] PRIMARY KEY  CLUSTERED 
	(
		[QTemplatesItemsID]
	)  ON [PRIMARY] 
GO
GRANT  REFERENCES ,  SELECT ,  UPDATE ,  INSERT ,  DELETE  ON [dbo].[QTemplatesItems]  TO [DeskFlowUsers]
GO
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CustomFormDataTrigger]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[CustomFormDataTrigger]
GO

CREATE TRIGGER [dbo].[CustomFormDataTrigger] ON [dbo].[CustomFormData] 
FOR INSERT, UPDATE, DELETE 
AS
UPDATE DataCashTables set UpdatedOn = getdate()
WHERE Name ='CustomFormData'
