IF  EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[DeleteLinkObjectToActivityHistory]'))
DROP TRIGGER [dbo].[DeleteLinkObjectToActivityHistory]
go
CREATE TRIGGER [dbo].[DeleteLinkObjectToActivityHistory] ON [dbo].[LinkObjectToActivityHistory] 
FOR DELETE
AS
SET NOCOUNT ON;

declare @LeftID int

declare @PeopleID int
declare @ProjectsID int

declare @ObjectName varchar(50)

declare CurLoc cursor local for
     select  ObjectTableName,LeftID
from Deleted where ObjectTableName='People' or ObjectTableName ='Projects'
or ObjectTableName ='MarketingCallReport' or ObjectTableName ='SearchContactRecord'
open CurLoc

fetch next from CurLoc into @ObjectName,@LeftID

while @@fetch_status = 0
begin
 if ( Upper(@ObjectName)='PEOPLE'  or Upper(@ObjectName)='PROJECTS'  )
  begin 
   if ( Upper(@ObjectName)='PEOPLE' )
		declare CurLoc2 cursor local for
		select Deleted.LeftID,Link2.LeftID		
		from Deleted 
		JOIN ActivityHistory WITH(NOLOCK) ON ( ActivityHistory.ActivityHistoryID=Deleted.RightID)
		JOIN LinkObjectToActivityHistory AS Link2 WITH(NOLOCK)  ON (
		ActivityHistory.ActivityHistoryID=Link2.RightID and Link2.ObjectTableName='Projects')
		LEFT JOIN LastProjectActivity WITH(NOLOCK) on (LastProjectActivity.PeopleID=Deleted.LeftID and
		LastProjectActivity.ProjectsID=Link2.LeftID ) 
		where LASTProjectAHID=Deleted.RightID and IsNull(ActivityHistory.ActivityHistoryID,0)>0
   if ( Upper(@ObjectName)='PROJECTS' )
		declare CurLoc2 cursor local for
		select Link2.LeftID,Deleted.LeftID
		from Deleted 
		JOIN ActivityHistory WITH(NOLOCK) ON ( ActivityHistory.ActivityHistoryID=Deleted.RightID)
		JOIN LinkObjectToActivityHistory AS Link2 WITH(NOLOCK)  ON (
		ActivityHistory.ActivityHistoryID=Link2.RightID and Link2.ObjectTableName='People')
		LEFT JOIN LastProjectActivity WITH(NOLOCK) on (LastProjectActivity.PeopleID=Link2.LeftID and
		LastProjectActivity.ProjectsID=Deleted.LeftID )  
		where LASTProjectAHID=Deleted.RightID and IsNull(ActivityHistory.ActivityHistoryID,0)>0
-----------------------------------------------------------------------------------------------------------

	open CurLoc2

	fetch next from CurLoc2 into @PeopleID,@ProjectsID

    while @@fetch_status = 0
     begin
			UPDATE LastProjectActivity set LASTProjectAHID=NULL,LASTProjectAHDate=NULL
             where PeopleID = @PeopleID and ProjectsID = @ProjectsID 
     		UPDATE LastProjectActivity set LASTProjectAHID=A.ActivityHistoryID,LASTProjectAHDate=A.CompletedOn
            from LastProjectActivity,
		    (Select ActivityHistoryID,LinkObjectToActivityHistory.LeftID,L1.LeftID as LeftID1,CompletedOn,
            Rank() over ( partition by LinkObjectToActivityHistory.LeftID,L1.LeftID order By CompletedOn desc) as dd
            from ActivityHistory WITH (NOLOCK)  
		    JOIN LinkObjectToActivityHistory WITH (NOLOCK) ON  
		    ActivityHistory.ActivityHistoryID=LinkObjectToActivityHistory.RightID
		    and LinkObjectToActivityHistory.ObjectTableName='People'
		    JOIN LinkObjectToActivityHistory AS L1 WITH (NOLOCK) ON  
		    ActivityHistory.ActivityHistoryID=L1.RightID
		    and L1.ObjectTableName='Projects') as A
		    where LastProjectActivity.PeopleID=A.LeftID and 
                  LastProjectActivity.ProjectsID=A.LeftID1
				  and LastProjectActivity.PeopleID = @PeopleID and LastProjectActivity.ProjectsID = @ProjectsID and dd =1 
        fetch next from CurLoc2 into @PeopleID,@ProjectsID
    end
            
   close         CurLoc2
   deallocate CurLoc2
  end
  if(@ObjectName='MarketingCallReport')
	    delete from MarketingCallReport where MarketingCallReportID = @LeftID
  if(@ObjectName='SearchContactRecord')
            delete from SearchContactRecord where SearchContactRecordID = @LeftID

  fetch next from CurLoc into @ObjectName, @LeftID
  end
close         CurLoc
deallocate CurLoc

GO
IF  EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[DeleteActivityHistory]'))
DROP TRIGGER [dbo].[DeleteActivityHistory]
go

CREATE TRIGGER [dbo].[DeleteActivityHistory] ON [dbo].[ActivityHistory] 
FOR DELETE 
AS
SET NOCOUNT ON;
declare @PeopleID int
declare @ProjectsID int


declare CurLoc1 cursor local for
     select  LinkObjectToActivityHistory.LeftID,L1.LeftID as LeftIDPr
from Deleted JOIN LinkObjectToActivityHistory  WITH (NOLOCK)
ON ( Deleted.ActivityHistoryID =LinkObjectToActivityHistory.RightID AND 
     LinkObjectToActivityHistory.ObjectTableName='People')
JOIN LinkObjectToActivityHistory  AS L1 WITH (NOLOCK)
ON ( Deleted.ActivityHistoryID =L1.RightID AND L1.ObjectTableName='Projects')
LEFT JOIN LastProjectActivity WITH(NOLOCK) on (LastProjectActivity.PeopleID=LinkObjectToActivityHistory.LeftID and
      	  LastProjectActivity.ProjectsID=L1.LeftID )
where Deleted.ActivityHistoryID = LASTProjectAHID
open CurLoc1

fetch next from CurLoc1 into @PeopleID, @ProjectsID

while @@fetch_status = 0
            begin
      			UPDATE LastProjectActivity set LASTProjectAHID=NULL,LASTProjectAHDate=NULL
                where PeopleID = @PeopleID and ProjectsID = @ProjectsID 
	     		UPDATE LastProjectActivity set LASTProjectAHID=A.ActivityHistoryID,LASTProjectAHDate=A.CompletedOn
		        from LastProjectActivity,
			    (Select ActivityHistoryID,LinkObjectToActivityHistory.LeftID,L1.LeftID as LeftID1,CompletedOn,
				Rank() over ( partition by LinkObjectToActivityHistory.LeftID,L1.LeftID order By CompletedOn desc) as dd
				from ActivityHistory WITH (NOLOCK)  
				JOIN LinkObjectToActivityHistory WITH (NOLOCK) ON  
				ActivityHistory.ActivityHistoryID=LinkObjectToActivityHistory.RightID
				and LinkObjectToActivityHistory.ObjectTableName='People'
				JOIN LinkObjectToActivityHistory AS L1 WITH (NOLOCK) ON  
				ActivityHistory.ActivityHistoryID=L1.RightID
				and L1.ObjectTableName='Projects') as A
				where LastProjectActivity.PeopleID=A.LeftID and 
                  LastProjectActivity.ProjectsID=A.LeftID1
				  and LastProjectActivity.PeopleID = @PeopleID and LastProjectActivity.ProjectsID = @ProjectsID and dd =1 
        fetch next from CurLoc1 into @PeopleID, @ProjectsID
end
          
close         CurLoc1
deallocate CurLoc1


delete from LinkObjectToActivityHistory from LinkObjectToActivityHistory,Deleted
       where LinkObjectToActivityHistory.RightID = Deleted.ActivityHistoryID
delete from LinkUsersToActivityHistory  from LinkUsersToActivityHistory,deleted
	    where LinkUsersToActivityHistory.ActivityHistoryID = Deleted.ActivityHistoryID
UPDATE ActivityHistory SET ParentAHID = NULL from ActivityHistory,deleted 
        WHERE ActivityHistory.ParentAHID = Deleted.ActivityHistoryID

GO
IF  EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[LinkObjectToActivityHistoryInsert]'))
DROP TRIGGER [dbo].[LinkObjectToActivityHistoryInsert]
go
CREATE TRIGGER [dbo].[LinkObjectToActivityHistoryInsert] ON [dbo].[LinkObjectToActivityHistory] 
FOR INSERT
AS
SET NOCOUNT ON;

declare @LeftID int
declare @RightID int

declare @PeopleID int
declare @ProjectsID int
declare @AHID int
declare @LASTProjectAHID int
declare @LASTProjectAHDate datetime
declare @AHDate datetime

declare @ObjectName varchar(50)

declare CurLoc cursor local for
     select  Inserted.ObjectTableName
from Inserted where ObjectTableName='People' or ObjectTableName ='Projects'
open CurLoc

fetch next from CurLoc into @ObjectName

while @@fetch_status = 0
begin
 if ( Upper(@ObjectName)='PEOPLE' )
		declare CurLoc2 cursor local for
		select Inserted.LeftID,Link2.LeftID,Inserted.RightID,LASTProjectAHID,LASTProjectAHDate,
		ActivityHistory.CompletedOn
		from Inserted 
		JOIN ActivityHistory WITH(NOLOCK) ON ( ActivityHistory.ActivityHistoryID=Inserted.RightID)
		JOIN LinkObjectToActivityHistory AS Link2 WITH(NOLOCK)  ON (
		ActivityHistory.ActivityHistoryID=Link2.RightID and Link2.ObjectTableName='Projects')
		LEFT JOIN LastProjectActivity WITH(NOLOCK) on (LastProjectActivity.PeopleID=Inserted.LeftID and
		LastProjectActivity.ProjectsID=Link2.LeftID )
 if ( Upper(@ObjectName)='PROJECTS' )
		declare CurLoc2 cursor local for
		select Link2.LeftID,Inserted.LeftID,Inserted.RightID,LASTProjectAHID,LASTProjectAHDate,
		ActivityHistory.CompletedOn
		from Inserted 
		JOIN ActivityHistory WITH(NOLOCK) ON ( ActivityHistory.ActivityHistoryID=Inserted.RightID)
		JOIN LinkObjectToActivityHistory AS Link2 WITH(NOLOCK)  ON (
		ActivityHistory.ActivityHistoryID=Link2.RightID and Link2.ObjectTableName='People')
		LEFT JOIN LastProjectActivity WITH(NOLOCK) on (LastProjectActivity.PeopleID=Link2.LeftID and
		LastProjectActivity.ProjectsID=Inserted.LeftID )
-----------------------------------------------------------------------------------------------------------

	open CurLoc2

	fetch next from CurLoc2 into @PeopleID,@ProjectsID,@AHID,@LASTProjectAHID,@LASTProjectAHDate,@AHDate

    while @@fetch_status = 0
     begin
		if ( @LASTProjectAHDate < @AHDate or @LASTProjectAHDate is null)
		  begin
        if NOT EXISTS ( Select ProjectsID from LastProjectActivity  where PeopleID = @PeopleID and ProjectsID = @ProjectsID )
			INSERT INTO LastProjectActivity ( PeopleID,ProjectsID,LASTProjectAHID,LASTProjectAHDate )
			Values ( @PeopleID,@ProjectsID,@AHID,@AHDate)
		Else
			UPDATE LastProjectActivity set LASTProjectAHID=@AHID,LASTProjectAHDate=@AHDate
		    where PeopleID =@PeopleId and ProjectsID=@ProjectsID
          end
        fetch next from CurLoc2 into @PeopleID,@ProjectsID,@AHID,@LASTProjectAHID,@LASTProjectAHDate,@AHDate
      end
            
     close         CurLoc2
     deallocate CurLoc2

   fetch next from CurLoc into @ObjectName
   end
close         CurLoc
deallocate CurLoc

GO
IF  EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[ActivityHistoryUpdate]'))
DROP TRIGGER [dbo].[ActivityHistoryUpdate]
go
CREATE  TRIGGER [dbo].[ActivityHistoryUpdate] ON [dbo].[ActivityHistory]
FOR UPDATE 
AS
SET NOCOUNT ON
UPDATE  ActivityHistory
SET  ActivityHistory.UpdatedBy = suser_sname(),
UpdatedOn = GETDATE()
FROM Inserted,  ActivityHistory 
WHERE Inserted.ActivityHistoryID =  ActivityHistory.ActivityHistoryID

declare @PeopleID int
declare @ProjectsID int
declare @AHID int
declare @LASTProjectAHID int
declare @LASTProjectAHDate datetime
declare @AHDate datetime


declare CurLoc1 cursor local for
     select  LinkObjectToActivityHistory.LeftID,L1.LeftID as LeftIDPr,Inserted.ActivityHistoryID,
			 LASTProjectAHID,LASTProjectAHDate,Inserted.CompletedOn
from Inserted JOIN Deleted ON
( Inserted.ActivityHistoryID=Deleted.ActivityHistoryID )
JOIN LinkObjectToActivityHistory  WITH (NOLOCK)
ON ( Inserted.ActivityHistoryID =LinkObjectToActivityHistory.RightID AND 
     LinkObjectToActivityHistory.ObjectTableName='People')
JOIN LinkObjectToActivityHistory  AS L1 WITH (NOLOCK)
ON ( Inserted.ActivityHistoryID =L1.RightID AND L1.ObjectTableName='Projects')
LEFT JOIN LastProjectActivity WITH(NOLOCK) on (LastProjectActivity.PeopleID=LinkObjectToActivityHistory.LeftID and
      	  LastProjectActivity.ProjectsID=L1.LeftID )
WHERE Inserted.CompletedOn<>Deleted.CompletedOn 
-----------------------------------------------------------------------------------------------------------

open CurLoc1

fetch next from CurLoc1 into @PeopleID, @ProjectsID,@AHID, @LASTProjectAHID,@LASTProjectAHDate,@AHDate

while @@fetch_status = 0
            begin
             if ( (@AHID = @LASTProjectAHID and @AHDate < @LASTProjectAHID) or @AHDate > @LASTProjectAHDate )
	     		UPDATE LastProjectActivity set LASTProjectAHID=A.ActivityHistoryID,LASTProjectAHDate=A.CompletedOn
		        from LastProjectActivity,
			    (Select ActivityHistoryID,LinkObjectToActivityHistory.LeftID,L1.LeftID as LeftID1,CompletedOn,
				Rank() over ( partition by LinkObjectToActivityHistory.LeftID,L1.LeftID order By CompletedOn desc) as dd
				from ActivityHistory WITH (NOLOCK)  
				JOIN LinkObjectToActivityHistory WITH (NOLOCK) ON  
				ActivityHistory.ActivityHistoryID=LinkObjectToActivityHistory.RightID
				and LinkObjectToActivityHistory.ObjectTableName='People'
				JOIN LinkObjectToActivityHistory AS L1 WITH (NOLOCK) ON  
				ActivityHistory.ActivityHistoryID=L1.RightID
				and L1.ObjectTableName='Projects') as A
				where LastProjectActivity.PeopleID=A.LeftID and 
                  LastProjectActivity.ProjectsID=A.LeftID1
				  and LastProjectActivity.PeopleID = @PeopleID and LastProjectActivity.ProjectsID = @ProjectsID and dd =1 
           
        fetch next from CurLoc1 into @PeopleID, @ProjectsID,@AHID, @LASTProjectAHID,@LASTProjectAHDate,@AHDate
end
          
close         CurLoc1
deallocate CurLoc1






