
CREATE FUNCTION  [dbo].[fn_GetSkillsToMemo] ( @PeopleID int )
RETURNS varchar(8000)
AS
BEGIN
DECLARE @Tmp varchar (8000)
DECLARE @Name varchar (255)
DECLARE @CName varchar (255)
declare CurPres cursor local for
select distinct SkillsCategories.Name,Skills.Name FROM LinkPeopleToSkills
JOIN Skills ON ( LinkPeopleToSkills.SkillsID = Skills.SkillsID) 
JOIN LinkSkillsToSkillsCategories ON (LinkPeopleToSkills.SkillsID=LinkSkillsToSkillsCategories.LeftID)
JOIN SkillsCategories ON ( SkillsCategories.SkillsCategoriesID = LinkSkillsToSkillsCategories.RightID )
WHERE LinkPeopleToSkills.PeopleID=@PeopleID
ORDER BY SkillsCategories.Name,Skills.Name
open CurPres

fetch next from CurPres into @CName,@Name

while @@fetch_status = 0
    begin
        if ( @Tmp is not null )
			set @Tmp =  COALESCE(@Tmp + CHAR(13), '')+@CName+'\'+@Name
		else
			set @Tmp =  @CName+'\'+@Name
        fetch next from CurPres into @CName, @Name

    end
          
close         CurPres
deallocate CurPres
RETURN @Tmp
END
GO
GRANT  EXECUTE   ON [dbo].[fn_GetSkillsToMemo]  TO [DeskFlowUsers]

