/****** Object:  Trigger [dbo].[CandidateReferralsOnDelete]    Script Date: 07/02/2015 14:48:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER  TRIGGER [dbo].[CandidateReferralsOnDelete] ON [dbo].[CandidateReferrals]
FOR DELETE
AS
-----------------------------------------------------------------------------------------------------------
declare @PeopleID               int
declare @ProjectsID             int

declare Row cursor local  for
     select 
         PeopleID,
         ProjectsID
     from 
         deleted
-----------------------------------------------------------------------------------------------------------

open Row

fetch next from Row into @PeopleID, @ProjectsID

while @@fetch_status = 0
    begin

	 UPDATE ProjectsCallStatus SET ProjectsCallStatus.InclSR = NULL
	  WHERE ( ProjectsCallStatus.PeopleID = @PeopleID AND ProjectsCallStatus.ProjectsID = @ProjectsID )	
	  
	 IF ( NOT EXISTS ( SELECT PeopleID FROM CandidateReferrals WITH(NOLOCK) 
						WHERE PeopleID = @PeopleID AND ProjectsID = @ProjectsID )
	 )
	 BEGIN
		EXEC RemoveCandidateProjectBlock @ProjectsID, @PeopleID, 7
	 END
	  
         fetch next from Row into @PeopleID, @ProjectsID

    end
          
close            Row
deallocate  Row

