if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PeopleAppliedToINSERT]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[PeopleAppliedToINSERT]
GO
Create TRIGGER [dbo].[PeopleAppliedToINSERT] ON [dbo].[PeopleAppliedTo] 
FOR INSERT AS 
declare @PeopleID               int
declare @ProjectsID             int
declare Row cursor local  for
     select 
         PeopleID,
         ProjectsID
     from 
         Inserted where ProjectsID > 0
open Row
fetch next from Row into @PeopleID, @ProjectsID
WHILE @@fetch_status = 0
    BEGIN
 	IF NOT EXISTS( SELECT ProjectsCallStatusID FROM ProjectsCallStatus WITH(NOLOCK) 
	WHERE ProjectsCallStatus.PeopleID = @PeopleID AND ProjectsCallStatus.ProjectsID = @ProjectsID )
	BEGIN
		declare @ProjectsCallStatusID int
		EXECUTE GetNewID 'ProjectsCallStatusID',@ProjectsCallStatusID OUTPUT 
		INSERT INTO ProjectsCallStatus( ProjectsCallStatusID, PeopleID, ProjectsID, InclAR)
		VALUES(  @ProjectsCallStatusID, @PeopleID, @ProjectsID, 1 )
	END
	ELSE 
		UPDATE ProjectsCallStatus SET InclAR = 1
		WHERE (ProjectsCallStatus.ProjectsID = @ProjectsID AND ProjectsCallStatus.PeopleID = @PeopleID)
        fetch next from Row into @PeopleID, @ProjectsID
    END   
close  Row
deallocate  Row
