/****** Object:  Table [dbo].[AffiliateStatuses]  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AffiliateStatuses](
	[StatusID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) NULL,
 CONSTRAINT [PK_AffiliateStatuses] PRIMARY KEY CLUSTERED 
(
	[StatusID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF

GO 

GRANT  SELECT ,  UPDATE ,  INSERT ,  DELETE  ON [dbo].[AffiliateStatuses]  TO [DeskFlowUsers]

GO

ALTER TABLE Affiliates
ADD [Status] [varchar](50) NULL

GO

INSERT INTO LookupTables (Name, Description, Editable, Visible)
VALUES ('AffiliateStatuses', 'Affiliate Status in PROJECT team tab', 'Description', 'Description' )

GO