/****** Object:  StoredProcedure [dbo].[RemoveCandidateProjectBlock]    Script Date: 07/16/2015 13:46:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[RemoveCandidateProjectBlock] @ProjectsID int, @PeopleID int, @ListID int
AS

	declare @BlockLevel int
	declare @BlockDescription varchar(255)	
	declare @NewProjectsID int

	-- Remove old block list
	DELETE ProjectsCandidateBlocks WHERE ProjectsCandidateBlocks.ProjectsID = @ProjectsID
										AND ProjectsCandidateBlocks.PeopleID = @PeopleID
										AND ProjectsCandidateBlocks.WorkListsID = @ListID
										
	-- Update People table block with new value
	SELECT TOP 1 @BlockLevel = C.BlockLevel, @BlockDescription = C.Caption, @NewProjectsID = C.ProjectsID FROM 
	(
		SELECT TOP 1 ProjectsCandidateBlocks.ProjectsID, WorkLists.BlockLevel, WorkLists.Caption
		FROM ProjectsCandidateBlocks WITH(NOLOCK)
			JOIN WorkLists WITH(NOLOCK) ON ProjectsCandidateBlocks.WorkListsID = WorkLists.WorkListsID
		WHERE ProjectsCandidateBlocks.PeopleID = @PeopleID AND ProjectsCandidateBlocks.ProjectsID = @ProjectsID
			AND WorkLists.BlockLevel > 0
		ORDER BY WorkLists.BlockLevel DESC, WorkLists.ListNum DESC 
		
		UNION ALL
		
		SELECT TOP 1 GroupedCandBlocks.ProjectsID, WorkLists.BlockLevel, WorkLists.Caption
		FROM
		(	SELECT PCB.ProjectsID, WorkLists.BlockLevel, MinInclOn = MIN(PCB.CreatedOn), MaxListNum = MAX(WorkLists.ListNum)
			FROM ProjectsCandidateBlocks PCB WITH(NOLOCK)
			JOIN WorkLists WITH(NOLOCK)
				ON PCB.WorkListsID = WorkLists.WorkListsID
			WHERE PCB.PeopleID = @PeopleID
			AND WorkLists.BlockLevel > 0
			GROUP BY PCB.ProjectsID, WorkLists.BlockLevel
		) GroupedCandBlocks
		LEFT JOIN WorkLists WITH(NOLOCK)
			ON WorkLists.ListNum = GroupedCandBlocks.MaxListNum
		ORDER BY WorkLists.BlockLevel DESC, GroupedCandBlocks.MinInclOn ASC, WorkLists.ListNum DESC
		
	) AS C

	IF (@BlockLevel > 0)
	BEGIN
		UPDATE People set CandidateBlockStatus = @BlockLevel,
		BlockDescription = @BlockDescription,
		CandidateBlockProjectsID = @NewProjectsID
		WHERE People.PeopleID = @PeopleID
	END
	ELSE
	BEGIN
		UPDATE People set CandidateBlockStatus = NULL,
		BlockDescription = NULL,
		CandidateBlockProjectsID = NULL
		WHERE People.PeopleID = @PeopleID
	END