/****** Object:  Table [dbo].[JobOrderPositionTeams]    Script Date: 04/30/2014 17:21:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[JobOrderPositionTeams](
	[JobOrderPositionTeamsID] [int] IDENTITY(1,1) NOT NULL,
	[UserLogin] [varchar](20) NULL,
	[JobOrdersID] [int] NOT NULL,
	[PositionsID] [int] NOT NULL,
	[TeamRoleID] [int] NULL,
	[CreatedOn] [datetime] NULL CONSTRAINT [DF_JobOrderPositionTeams_CreatedOn]  DEFAULT (getdate()),
	[CreatedBy] [varchar](20) NULL CONSTRAINT [DF_JobOrderPositionTeams_CreatedBy]  DEFAULT (suser_sname()),
	[UpdatedOn] [datetime] NULL CONSTRAINT [DF_JobOrderPositionTeams_UpdatedOn]  DEFAULT (getdate()),
	[UpdatedBy] [varchar](20) NULL CONSTRAINT [DF_JobOrderPositionTeams_UpdatedBy]  DEFAULT (suser_sname()),
	[Commission] [float] NULL,
 CONSTRAINT [PK_JobOrderPositionTeams] PRIMARY KEY CLUSTERED 
(
	[JobOrderPositionTeamsID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF

GO
/****** Object:  Trigger [dbo].[JobOrderPositionTeamsUpdate]    Script Date: 04/30/2014 17:39:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE TRIGGER [dbo].[JobOrderPositionTeamsUpdate] ON [dbo].[JobOrderPositionTeams] 
FOR UPDATE
AS
-----------------------------------------------------------------------------------------------------------

UPDATE dbo.JobOrderPositionTeams set
UpdatedOn = getdate(), UpdatedBy = suser_sname()
from inserted
where JobOrderPositionTeams.JobOrderPositionTeamsID = inserted.JobOrderPositionTeamsID


GO
GRANT  SELECT ,  UPDATE ,  INSERT ,  DELETE  ON [dbo].[JobOrderPositionTeams]  TO [DeskFlowUsers]


GO
/****** Object:  Trigger [dbo].[PositionsDelete]    Script Date: 05/01/2014 11:45:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   TRIGGER [dbo].[PositionsDelete] ON [dbo].[Positions]
FOR DELETE
AS
-----------------------------------------------------------------------------------------------------------
declare @PositionsID        int
declare @ProjectsID         int
declare @JobOrdersID        int
declare @PeopleID			int

declare Row cursor local  for
     select  PositionsID, PeopleID, ProjectsID, JobOrdersID
     from 
         deleted
-----------------------------------------------------------------------------------------------------------

open Row

fetch next from Row into @PositionsID, @PeopleID, @ProjectsID, @JobOrdersID

while @@fetch_status = 0
    begin

        delete from PositionDetails             	where PositionsID =  @PositionsID
        delete from LinkPositionsToRates             	where PositionsID =  @PositionsID
        delete from LinkJobOrderScheduleToPosition      where PositionsID =  @PositionsID
        delete from LinkJobOrderToWorksteps      where PositionsID =  @PositionsID
		update Task SET PositionsID = NULL 	where PositionsID =  @PositionsID
		delete from TimeSheets 			where PositionsID =  @PositionsID
		delete from PositionExpenses    	where PositionsID =  @PositionsID
		delete from JobOrderPositionTeams	where PositionsID = @PositionsID
		UPDATE ProjectsCallStatus SET ProjectsCallStatus.InclPL = NULL
			WHERE ( ProjectsCallStatus.PeopleID = @PeopleID 
			AND ProjectsCallStatus.ProjectsID = @ProjectsID AND @ProjectsID > 0)	

         fetch next from Row into @PositionsID, @PeopleID, @ProjectsID, @JobOrdersID

    end
          
close            Row
deallocate  Row
