/****** Object:  Table [dbo].[ProjectsAccounting]  ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProjectsAccounting](
	[ProjectsAccountingID] [int] NOT NULL,
	[ProjectsID] [int] NULL,
	[UpdatedBy] [varchar](20) NULL,
	[UpdatedOn] [datetime] NULL,
	[Practice] [int] NULL,
	[Business] [int] NULL,
	[GrpContract] [varchar](2) NULL,
	[HoldDate] [datetime] NULL,
	[HoldDays] [int] NULL,
	[JobLevel] [varchar](1) NULL,
	[OfficeLocation] [varchar](255) NULL,
	[MDReq] [bit] NULL,
	[MergeAct] [bit] NULL,
	[PctComplete] [float] NULL,
	[PONum] [varchar](16) NULL,
	[ProfitCenter] [int] NULL,
	[RedoJobID] [varchar](6) NULL,
	[RedoneJobID] [varchar](6) NULL,
	[Region] [int] NULL,
	[SgnProp] [bit] NULL,
	[JobTitleFunction2] [varchar](6) NULL,
 CONSTRAINT [PK_ProjectsAccounting] PRIMARY KEY NONCLUSTERED 
(
	[ProjectsAccountingID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF

GO 

GRANT  SELECT ,  UPDATE ,  INSERT ,  DELETE  ON [dbo].[ProjectsAccounting]  TO [DeskFlowUsers]

GO

/****** Object:  Trigger [dbo].[ProjectsTeamUpdate]    Script Date: 11/14/2014 16:35:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[ProjectsAccountingUpdate] ON [dbo].[ProjectsAccounting]
FOR UPDATE
AS

update ProjectsAccounting set 
             ProjectsAccounting.UpdatedBy = suser_sname(),
             ProjectsAccounting.UpdatedOn = getdate()
FROM Inserted, ProjectsAccounting 
WHERE Inserted.ProjectsAccountingID = ProjectsAccounting.ProjectsAccountingID

GO
/****** Object:  Trigger [dbo].[ProjectOnDelete]    Script Date: 11/14/2014 16:37:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER                   TRIGGER [dbo].[ProjectOnDelete] ON [dbo].[Projects]
FOR DELETE
AS
-----------------------------------------------------------------------------------------------------------
declare @ProjectsID    int

declare Row cursor local  for
     select 
         ProjectsID
     from 
         deleted
-----------------------------------------------------------------------------------------------------------

open Row

fetch next from Row into @ProjectsID

while @@fetch_status = 0
    begin
	 delete ProjectBillingDetails 		where ProjectsID = @ProjectsID
	 delete LinkObjectToActivityHistory 	where LeftID = @ProjectsID AND ObjectTableName = 'Projects'
              delete LinkObjectToDocument 		where LeftID = @ProjectsID AND ObjectTableName = 'Projects'
              delete LinkObjectToTask 		where LeftID = @ProjectsID AND ObjectTableName = 'Projects'
	 delete ProjectInvoices			where ProjectsID = @ProjectsID
	 delete ProjectsBenchmarkCandidates 	where ProjectsID = @ProjectsID
	 delete ProjectsClientEmployeesLists 	where ProjectsID = @ProjectsID
	 delete ProjectsClientTeams 		where ProjectsID = @ProjectsID
	 delete ProjectsCompaniesLists 		where ProjectsID = @ProjectsID
	 delete ProjectsFileSearchCandidates 	where ProjectsID = @ProjectsID
	 delete ProjectsInternalInterviewLists 	where ProjectsID = @ProjectsID
	 delete ProjectsPresentedLists 		where ProjectsID = @ProjectsID
	 delete ProjectsShortLists 		where ProjectsID = @ProjectsID
	 delete CandidateReferrals 		where ProjectsID = @ProjectsID
	 delete ProjectsSources 			where ProjectsID = @ProjectsID
	 delete ProjectsTargetLists 		where ProjectsID = @ProjectsID
	 delete ProjectsTeam 			where ProjectsID = @ProjectsID
	 delete PeopleAppliedTo  		where ProjectsID = @ProjectsID
	 delete LinkMediaToProject 		where ProjectsID = @ProjectsID
         delete ProjectStages			where ProjectsID = @ProjectsID

              delete JobRequirements 			where ProjectsID = @ProjectsID
	 delete InternalInterviews 		where ProjectsID = @ProjectsID 
	 delete ListsDetails 			where RecordID = @ProjectsID AND ListID IN ( SELECT ListsID FROM Lists WHERE SourceTable = 'Projects')
              delete WebJobPostings                       	where ProjectsID = @ProjectsID
              delete LinkOpportunitiesToBusinessObjects where ProjectsID = @ProjectsID 
              delete LinkEventsToBusinessObjects where ProjectsID = @ProjectsID 
	 delete ProjectsAccounting where ProjectsID = @ProjectsID

	 update People SET CandidateBlockStatus = NULL, CandidateBlockProjectsID = NULL
						WHERE CandidateBlockProjectsID = @ProjectsID
	 update Task SET ProjectsID = NULL where ProjectsID = @ProjectsID
	 update WebRequests SET ProjectsID = NULL where ProjectsID = @ProjectsID
       fetch next from Row into @ProjectsID 

    end
          
close       Row
deallocate  Row

GO

IF ( select count(*) from  LastIds where FieldName = 'ProjectsAccountingID' )=0
INSERT INTO LastIds (FieldName, LastID) VALUES ('ProjectsAccountingID', 1)

GO

ALTER TABLE ProjectsTeam
ADD [Split2] [float] NULL,
	[Split3] [float] NULL

GO
ALTER TRIGGER [dbo].[ProjectsShortListsOnDelete] ON [dbo].[ProjectsShortLists]
FOR DELETE
AS
-----------------------------------------------------------------------------------------------------------
declare @PeopleID               int
declare @ProjectsID             int

declare Row cursor local  for
     select 
         PeopleID,
         ProjectsID
     from 
         deleted
-----------------------------------------------------------------------------------------------------------

open Row

fetch next from Row into @PeopleID, @ProjectsID

while @@fetch_status = 0
    begin

         delete Interview                    where PeopleID = @PeopleID AND ProjectsID = @ProjectsID 
         delete CandidateCredentials where CandidatePeopleID = @PeopleID AND ProjectsID = @ProjectsID
         delete CandidateReferences where PeopleID = @PeopleID AND ProjectsID = @ProjectsID
		 UPDATE ProjectsCallStatus SET ProjectsCallStatus.InclCI = NULL
		  WHERE ( ProjectsCallStatus.PeopleID = @PeopleID AND ProjectsCallStatus.ProjectsID = @ProjectsID )	
         fetch next from Row into @PeopleID, @ProjectsID

    end
          
close            Row
deallocate  Row
