IF OBJECT_ID('dbo.CompaniesBlock', 'U') IS NOT NULL
	DROP TABLE dbo.CompaniesBlock

GO

/****** Object:  Table [dbo].[CompaniesBlock]    Script Date: 11/20/2015 15:26:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompaniesBlock](
	[CompaniesBlockID] [int] IDENTITY(1,1) NOT NULL,
	[CompaniesID] [int] NOT NULL,
	[ProjectsID] [int] NULL,
	[CreatedOn] [datetime] NULL CONSTRAINT [DF_CompaniesBlock_CreatedOn]  DEFAULT (getutcdate()),
	[UpdatedOn] [datetime] NULL CONSTRAINT [DF_CompaniesBlock_UpdatedOn]  DEFAULT (getutcdate()),
	[UpdatedBy] [varchar](20) NULL CONSTRAINT [DF_CompaniesBlock_UpdatedBy]  DEFAULT (suser_sname()),
	[CreatedBy] [varchar](20) NULL CONSTRAINT [DF_CompaniesBlock_CreatedBy]  DEFAULT (suser_sname()),
	[Block] [smallint] NULL,
	[BlockUntilDate] [datetime] NULL,
	[BlockNotes] [text] NULL,
	[BlockedBy] [varchar](20) NULL,
 CONSTRAINT [PK_CompaniesBlock_1] PRIMARY KEY CLUSTERED 
( 
	[CompaniesBlockID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

GRANT  SELECT ,  UPDATE ,  INSERT ,  DELETE  ON [dbo].[CompaniesBlock]  TO [DeskFlowUsers]

GO

CREATE  TRIGGER [dbo].[CompaniesBlockUpdate] ON [dbo].[CompaniesBlock]
FOR UPDATE
NOT FOR REPLICATION 
AS
BEGIN

	UPDATE  CompaniesBlock
	SET  CompaniesBlock.UpdatedBy = suser_sname(),
	UpdatedOn = getutcdate()
	FROM Inserted,  CompaniesBlock
	WHERE Inserted.CompaniesBlockID =  CompaniesBlock.CompaniesBlockID

END

GO

ALTER TABLE CompaniesBlockByAddresses
ADD [ProjectsID] [int] NULL

GO 

ALTER TABLE CompaniesBlockByRoleCodes
ADD [ProjectsID] [int] NULL

GO

ALTER TABLE CompaniesBlockBySkills
ADD [ProjectsID] [int] NULL

GO


/*--------------------------------------------------------------------------------------------------------  
    When a CompaniesBlock record is deleted, this deletes all records  
    linked to the deleted record.  
   --------------------------------------------------------------------------------------------------------*/  
CREATE TRIGGER [dbo].[CompaniesBlockDelete] ON [dbo].[CompaniesBlock]  
FOR DELETE  
AS  
-----------------------------------------------------------------------------------------------------------  
DELETE CompaniesBlockByAddresses 
FROM CompaniesBlockByAddresses AS a
	INNER JOIN Deleted AS b
	ON a.CompaniesID = b.CompaniesID 
WHERE IsNull(a.ProjectsID,0) = IsNull(b.ProjectsID,0)


DELETE CompaniesBlockByRoleCodes
FROM CompaniesBlockByRoleCodes AS a
	INNER JOIN Deleted AS b
	ON a.CompaniesID = b.CompaniesID 
WHERE IsNull(a.ProjectsID,0) = IsNull(b.ProjectsID,0)


DELETE CompaniesBlockBySkills
FROM CompaniesBlockBySkills AS a
	INNER JOIN Deleted AS b
	ON a.CompaniesID = b.CompaniesID 
WHERE IsNull(a.ProjectsID,0) = IsNull(b.ProjectsID,0)

GO


/*--------------------------------------------------------------------------------------------------------  
    When a Companies record is deleted, this deletes all records  
    linked to the deleted record.  
   --------------------------------------------------------------------------------------------------------*/  
ALTER TRIGGER [dbo].[CompaniesDelete] ON [dbo].[Companies]  
FOR DELETE  
AS  
-----------------------------------------------------------------------------------------------------------  
DELETE FROM Addresses WHERE CompaniesID IN(SELECT CompaniesID FROM deleted)
DELETE FROM CompaniesIndustry WHERE CompaniesID IN(SELECT CompaniesID FROM deleted)
DELETE FROM CompaniesAliases WHERE CompaniesID IN(SELECT CompaniesID FROM deleted)
DELETE FROM LinkCompaniesToRates WHERE CompaniesID IN(SELECT CompaniesID FROM deleted)
DELETE FROM EMailAddress WHERE CompaniesID IN(SELECT CompaniesID FROM deleted)
DELETE FROM LinkCompaniesToAttributes WHERE CompaniesID IN(SELECT CompaniesID FROM deleted)
DELETE FROM ClientContactTeams WHERE CompaniesID IN(SELECT CompaniesID FROM deleted)
DELETE FROM LinkPeopleToCompanies WHERE CompaniesID IN(SELECT CompaniesID FROM deleted)
DELETE FROM LinkCompaniesToOpportunities WHERE CompaniesID IN(SELECT CompaniesID FROM deleted)
DELETE FROM ProjectsCompaniesLists WHERE CompaniesID IN(SELECT CompaniesID FROM deleted)
DELETE FROM JobOrdersCompaniesLists WHERE CompaniesID IN(SELECT CompaniesID FROM deleted)
DELETE FROM MProjectCompaniesLists WHERE CompaniesID IN(SELECT CompaniesID FROM deleted)
DELETE FROM LinkCompaniesToPVA WHERE CompaniesID IN(SELECT CompaniesID FROM deleted)
DELETE FROM Notes WHERE CompaniesID IN(SELECT CompaniesID FROM deleted)
DELETE FROM CompaniesBlock WHERE CompaniesID IN(SELECT CompaniesID FROM deleted)

DELETE FROM LinkObjectToActivityHistory WHERE LeftID IN(SELECT CompaniesID FROM deleted) and ObjectTableName = 'Companies' 
DELETE FROM LinkObjectToDocument WHERE LeftID IN(SELECT CompaniesID FROM deleted) and ObjectTableName = 'Companies' 
DELETE FROM LinkObjectToTask WHERE LeftID IN(SELECT CompaniesID FROM deleted) and ObjectTableName = 'Companies' 

DELETE FROM LinkCompanyToCompanies WHERE CompaniesID IN(SELECT CompaniesID FROM deleted) OR LinkedCompaniesID IN(SELECT CompaniesID FROM deleted)

DELETE FROM ListsDetails  where RecordID IN( SELECT CompaniesID FROM Deleted)  
        AND ListID IN ( SELECT ListsID FROM Lists WHERE SourceTable = 'Companies')


GO

/****** Object:  UserDefinedFunction [dbo].[fn_GetCompanyBlockForPosition]    Script Date: 12/08/2015 16:46:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER FUNCTION  [dbo].[fn_GetCompanyBlockForPosition] ( @CompaniesID int, @PositionsID int, @ProjectsID int )  
RETURNS int  
AS  
BEGIN  
  
 DECLARE @ENH_BLOCK int  
 DECLARE @CBLOCK int  
 DECLARE @Ret int  
 SELECT TOP 1 @ENH_BLOCK = EnhancedCompanyBlock FROM ClientConfig WITH(NOLOCK)  
 SELECT @CBLOCK = CompaniesBlock.Block FROM CompaniesBlock WITH(NOLOCK) WHERE CompaniesID = @CompaniesID AND IsNull(@ProjectsID,0) = IsNull(CompaniesBlock.ProjectsID,0) 
 set @CBLOCK = IsNull(@CBLOCK,0)
 set @Ret = 0  
  
 IF (@ENH_BLOCK < 1 OR @CBLOCK < 2)  
 BEGIN  
  SET @Ret = @CBLOCK  
 END  
 ELSE  
 BEGIN  
   
  -- Check addresses  
  IF EXISTS (  
   SELECT CompaniesBlockByAddresses.CompaniesID   
   FROM CompaniesBlockByAddresses WITH(NOLOCK)  
   WHERE CompaniesBlockByAddresses.CompaniesID = @CompaniesID AND IsNull(ProjectsID,0) = IsNull(@ProjectsID,0)
  )  
  BEGIN  
     
   SELECT @Ret = Count(*)  
   FROM CompaniesBlockByAddresses WITH(NOLOCK)  
    LEFT JOIN Positions WITH(NOLOCK) ON ( Positions.CompaniesID = CompaniesBlockByAddresses.CompaniesID  
               AND Positions.AddressesID = CompaniesBlockByAddresses.AddressesID )  
   WHERE CompaniesBlockByAddresses.CompaniesID = @CompaniesID AND Positions.PositionsID = @PositionsID  
		 AND IsNull(CompaniesBlockByAddresses.ProjectsID,0) = IsNull(@ProjectsID,0)
     
   IF (@Ret = 0) BEGIN RETURN @Ret END  
  
  END  
  
  -- Check role codes  
  IF EXISTS (  
   SELECT CompaniesBlockByRoleCodes.CompaniesID   
   FROM CompaniesBlockByRoleCodes WITH(NOLOCK)  
   WHERE CompaniesBlockByRoleCodes.CompaniesID = @CompaniesID AND IsNull(ProjectsID,0) = IsNull(@ProjectsID,0) 
  )  
  BEGIN  
   SELECT @Ret = Count(*)  
   FROM CompaniesBlockByRoleCodes WITH(NOLOCK)  
    LEFT JOIN Positions WITH(NOLOCK) ON ( Positions.CompaniesID = CompaniesBlockByRoleCodes.CompaniesID  
               AND IsNull(Positions.RoleCode1,0) = IsNull(CompaniesBlockByRoleCodes.RoleCode1,0)  
               AND IsNull(Positions.RoleCode2,0) = IsNull(CompaniesBlockByRoleCodes.RoleCode2,0) )  
   WHERE CompaniesBlockByRoleCodes.CompaniesID = @CompaniesID AND Positions.PositionsID = @PositionsID  
		 AND IsNull(CompaniesBlockByRoleCodes.ProjectsID,0) = IsNull(@ProjectsID,0)
  
   IF (@Ret = 0) BEGIN RETURN @Ret END  
  END  
    
  -- Check skills  
  IF EXISTS (  
   SELECT CompaniesBlockBySkills.CompaniesID   
   FROM CompaniesBlockBySkills WITH(NOLOCK)  
   WHERE CompaniesBlockBySkills.CompaniesID = @CompaniesID AND IsNull(ProjectsID,0) = IsNull(@ProjectsID,0)    
  )  
  BEGIN  
   SELECT @Ret = Count(*)  
   FROM CompaniesBlockBySkills WITH(NOLOCK)    
    LEFT JOIN Positions WITH(NOLOCK) ON ( Positions.CompaniesID = CompaniesBlockBySkills.CompaniesID )  
    JOIN LinkPeopleToSkills WITH(NOLOCK) ON ( LinkPeopleToSkills.PeopleID = Positions.PeopleID   
                 AND LinkPeopleToSkills.SkillsID = CompaniesBlockBySkills.SkillsID  
                 AND IsNull(LinkPeopleToSkills.SkillCategoryID,0) = IsNull(CompaniesBlockBySkills.SkillCategoryID,0) )  
   WHERE CompaniesBlockBySkills.CompaniesID = @CompaniesID AND Positions.PositionsID = @PositionsID     
	     AND IsNull(CompaniesBlockBySkills.ProjectsID,0) = IsNull(@ProjectsID,0)
  
   IF (@Ret = 0) BEGIN RETURN @Ret END  
  
  END  
   
  IF (@Ret > 0)  
  BEGIN  
   SET @Ret = 1  
  END  
    
 END  
  
 RETURN @Ret  
  
END  


GO


/****** Object:  UserDefinedFunction [dbo].[COMPBLOCKINFO]    Script Date: 12/08/2015 16:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[COMPBLOCKINFO](@PositionsID int )
RETURNS @CompanyBlockInfo TABLE (
   Block  int, BDate datetime, Company varchar(255), ClientEmployee int, BlockedBy varchar(20), BlockNotes text
) 
AS
BEGIN

 DECLARE @ENH_BLOCK int  
 SELECT TOP 1 @ENH_BLOCK = EnhancedCompanyBlock FROM ClientConfig WITH(NOLOCK)  
 
 IF @ENH_BLOCK > 0 
	 insert into @CompanyBlockInfo ( Block, BDate, Company, ClientEmployee, BlockedBy, BlockNotes )
	 SELECT TOP 1 CB1.Block, CB1.BlockUntilDate, C1.Company, ClientEmployee = 1, CB1.BlockedBy, CB1.BlockNotes
	 FROM Positions P1 WITH(NOLOCK)
		LEFT JOIN Companies C1 WITH(NOLOCK) ON (P1.CompaniesID = C1.CompaniesID)
		LEFT JOIN CompaniesBlock CB1 WITH(NOLOCK) ON (CB1.CompaniesID = C1.CompaniesID)
	 WHERE ( (IsNull(CB1.Block,0) = 1 or (dbo.fn_GetCompanyBlockForPosition(P1.CompaniesID, P1.PositionsID, CB1.ProjectsID) > 0 )) and IsNull(CB1.BlockUntilDate,getdate() + 1) > getdate() and P1.PositionsID = @PositionsID )
	 ORDER BY CB1.UpdatedOn DESC
 ELSE
	 insert into @CompanyBlockInfo ( Block, BDate, Company, ClientEmployee, BlockedBy, BlockNotes )
	 SELECT TOP 1 C1.Block, C1.BlockUntilDate, C1.Company, ClientEmployee = 1, C1.BlockedBy, C1.BlockNotes
	 FROM Positions P1 WITH(NOLOCK)
		LEFT JOIN Companies C1 WITH(NOLOCK) ON (P1.CompaniesID = C1.CompaniesID)
	 WHERE ( IsNull(C1.Block,0) > 0 and IsNull(C1.BlockUntilDate,getdate() + 1) > getdate() and P1.PositionsID = @PositionsID )
 RETURN
 
END

GO

GRANT  SELECT ON [dbo].[COMPBLOCKINFO]  TO [DeskFlowUsers]

GO

ALTER FUNCTION [dbo].[BLOKINFO](@PeopleID int, @USE_ENH_BLOCK int )
RETURNS @CompanyBlockInfo TABLE (
   Block  int   , BDate datetime, NCname varchar(255), ClientEmployee int
) 
AS
BEGIN

	IF @USE_ENH_BLOCK > 0
		insert into @CompanyBlockInfo ( Block, BDate, NCname, ClientEmployee)
		SELECT TOP 1 CB1.Block, CB1.BDate, C1.Company, ClientEmployee = 1 
		FROM Positions P1 WITH(NOLOCK) LEFT JOIN Companies C1 ON (P1.CompaniesID = C1.CompaniesID)  
		OUTER APPLY COMPBLOCKINFO( P1.PositionsID ) AS CB1
		WHERE ( CB1.Block > 0 and P1.PeopleID = @PeopleID and IsNull(P1.Enddate,getdate() + 1) > getdate() )  
		ORDER BY CB1.BDate DESC 
	ELSE
		insert into @CompanyBlockInfo ( Block, BDate, NCname, ClientEmployee)
		SELECT TOP 1 C1.Block, C1.BlockUntilDate, C1.Company, ClientEmployee = 1 
		FROM Positions P1 WITH(NOLOCK) LEFT JOIN Companies C1 WITH(NOLOCK) ON (P1.CompaniesID = C1.CompaniesID)  
		WHERE C1.Block > 0 and P1.PeopleID = @PeopleID and IsNull(P1.Enddate,getdate() + 1) > getdate()  
		ORDER BY C1.BlockUntilDate DESC 	

	RETURN
END


GO

/* Populate the new blocking table based on existing blocks */
INSERT INTO CompaniesBlock ( CompaniesID, ProjectsID, Block, BlockUntilDate, BlockNotes, BlockedBy )
SELECT CompaniesID, LastProjectID, Block, BlockUntilDate, BlockNotes, BlockedBy
FROM Companies C1 WITH(NOLOCK)
WHERE C1.Block > 0 AND NOT EXISTS ( SELECT 1 FROM CompaniesBlock CB1 WITH(NOLOCK) WHERE CB1.CompaniesID = C1.CompaniesID )

GO

UPDATE CompaniesBlockBySkills
SET CompaniesBlockBySkills.ProjectsID = CompaniesBlock.ProjectsID
FROM CompaniesBlock 
JOIN CompaniesBlockBySkills
	ON CompaniesBlockBySkills.CompaniesID = CompaniesBlock.CompaniesID
WHERE CompaniesBlockBySkills.ProjectsID IS NULL

UPDATE CompaniesBlockByRoleCodes
SET CompaniesBlockByRoleCodes.ProjectsID = CompaniesBlock.ProjectsID
FROM CompaniesBlock 
JOIN CompaniesBlockByRoleCodes 
	ON CompaniesBlockByRoleCodes.CompaniesID = CompaniesBlock.CompaniesID
WHERE CompaniesBlockByRoleCodes.ProjectsID IS NULL