/****** Object:  Table [dbo].[zipcodesMSA]    Script Date: 09/25/2014 17:27:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zipcodesMSA](
	[zip] [float] NULL,
	[state] [nvarchar](255) NULL,
	[msaid]	[float] NULL,
	[msaname] [nvarchar](255) NULL
) ON [PRIMARY]

GO

GRANT  SELECT ,  UPDATE ,  INSERT ,  DELETE  ON [dbo].[zipcodesMSA]  TO [DeskFlowUsers]

GO