if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[UserListUpdate]') and OBJECTPROPERTY(id, N'IsTrigger') = 1)
drop trigger [dbo].[UserListUpdate]
GO

CREATE TRIGGER [dbo].[UserListUpdate] ON [dbo].[UserList]
FOR UPDATE
AS
-----------------------------------------------------------------------------------------------------------
update UserList set 
       UpdatedBy = suser_sname(),
       UpdatedOn = getdate()
from Inserted, UserList
where  Inserted.UserListID = UserList.UserListID

if ( select count(*) from inserted join deleted on inserted.UserListID=deleted.UserListID
where inserted.Name <> deleted.Name or inserted.LoginName <>deleted.LoginName or 
      inserted.TimeZoneData <> deleted.TimeZoneData or inserted.Status <> deleted.Status
      or inserted.BusinessPhone <> deleted.BusinessPhone or inserted.RememberFormPos <> deleted.RememberFormPos
      or inserted.CurrencyType <> deleted.CurrencyType or inserted.CustomStamp <> deleted.CustomStamp)>0
UPDATE DataCashTables set UpdatedOn = getdate()
WHERE Name ='UserList'

