IF  NOT EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[MarketingCallReportUpdate]'))
UPDATE MarketingCallReport SET UpdatedBy = CreatedBy, UpdatedOn = CreatedOn where UpdatedOn is null
go
CREATE TRIGGER [dbo].[MarketingCallReportUpdate] ON [dbo].[MarketingCallReport] 
FOR UPDATE
AS
UPDATE MarketingCallReport
SET MarketingCallReport.UpdatedBy = suser_sname(),
UpdatedOn = GETDATE()
FROM Inserted, MarketingCallReport
WHERE Inserted.MarketingCallReportID = MarketingCallReport.MarketingCallReportID



