/****** Object:  Trigger [dbo].[ActivityHistoryUpdate]    Script Date: 03/27/2013 15:28:25 ******/

ALTER  TRIGGER [dbo].[ActivityHistoryUpdate] ON [dbo].[ActivityHistory]
FOR UPDATE 
AS
SET NOCOUNT ON
UPDATE  ActivityHistory
SET  ActivityHistory.UpdatedBy = suser_sname(),
UpdatedOn = GETDATE()
FROM Inserted,  ActivityHistory 
WHERE Inserted.ActivityHistoryID =  ActivityHistory.ActivityHistoryID

declare @PeopleID int
declare @ProjectsID int
declare @AHID int
declare @LASTProjectAHID int
declare @LASTProjectAHDate datetime
declare @AHDate datetime

declare @LASTPeopleAHID int
declare @LASTPeopleAHDate datetime

declare @Done int

declare CurLoc1 cursor local for
     select  LinkObjectToActivityHistory.LeftID,L1.LeftID as LeftIDPr,Inserted.ActivityHistoryID,
			 LASTProjectAHID,LASTProjectAHDate,Inserted.CompletedOn,  People.LastAHID,People.LastAHCompletedOn
from Inserted JOIN Deleted ON
( Inserted.ActivityHistoryID=Deleted.ActivityHistoryID )
JOIN LinkObjectToActivityHistory  WITH (NOLOCK)
ON ( Inserted.ActivityHistoryID =LinkObjectToActivityHistory.RightID AND 
     LinkObjectToActivityHistory.ObjectTableName='People')
LEFT JOIN LinkObjectToActivityHistory  AS L1 WITH (NOLOCK)
ON ( Inserted.ActivityHistoryID =L1.RightID AND L1.ObjectTableName='Projects')
LEFT JOIN LastProjectActivity WITH(NOLOCK) on (LastProjectActivity.PeopleID=LinkObjectToActivityHistory.LeftID and
      	  LastProjectActivity.ProjectsID=L1.LeftID )
LEFT JOIN People WITH(NOLOCK) on (People.PeopleID = LinkObjectToActivityHistory.LeftID )
WHERE Inserted.CompletedOn<>Deleted.CompletedOn 
-----------------------------------------------------------------------------------------------------------
set @Done = 0
open CurLoc1

fetch next from CurLoc1 into @PeopleID, @ProjectsID,@AHID, @LASTProjectAHID,@LASTProjectAHDate,@AHDate,
							 @LASTPeopleAHID, @LASTPeopleAHDate
while @@fetch_status = 0
    begin
      if ( @ProjectsID > 0 )
         begin
             if ( (@AHID = @LASTProjectAHID and @AHDate < @LASTProjectAHDate) )
              begin
 			    UPDATE LastProjectActivity set LASTProjectAHID=NULL,LASTProjectAHDate=NULL
                where PeopleID = @PeopleID and ProjectsID = @ProjectsID 
			    UPDATE LastProjectActivity set LASTProjectAHID=
			    (Select Top 1 ActivityHistoryID from ActivityHistory WITH (NOLOCK)  
			    JOIN LinkObjectToActivityHistory WITH (NOLOCK) ON  
			    ActivityHistory.ActivityHistoryID=LinkObjectToActivityHistory.RightID
			    and LinkObjectToActivityHistory.ObjectTableName='People' 
			    JOIN LinkObjectToActivityHistory AS L1 WITH (NOLOCK) ON  
			    ActivityHistory.ActivityHistoryID=L1.RightID
			    and L1.ObjectTableName='Projects' 
			    WHERE LinkObjectToActivityHistory.LeftID = @PeopleID 
			    and L1.LeftID = @ProjectsID ORDER BY CompletedOn desc)
			    WHERE LastProjectActivity.PeopleID = @PeopleID and LastProjectActivity.ProjectsID = @ProjectsID

  			    UPDATE LastProjectActivity set LASTProjectAHDate=ActivityHistory.CompletedOn
			    FROM LastProjectActivity,ActivityHistory
			    WHERE LastProjectActivity.LASTProjectAHID=ActivityHistory.ActivityHistoryID and 
			    LastProjectActivity.PeopleID = @PeopleID and LastProjectActivity.ProjectsID = @ProjectsID
			  end
             if ( @AHID = @LASTProjectAHID and @AHDate > @LASTProjectAHDate) 
	     		UPDATE LastProjectActivity set LASTProjectAHDate=@AHDate where LASTProjectAHID=@LASTProjectAHID
             if ( @AHID <> @LASTProjectAHID and @AHDate > @LASTProjectAHDate ) 
					UPDATE LastProjectActivity set LASTProjectAHID=@AHID,LASTProjectAHDate=@AHDate
					where LastProjectActivity.PeopleID = @PeopleID and LastProjectActivity.ProjectsID = @ProjectsID
         end
	if ( @Done = 0 )
       begin
            set @Done = 1 
			if ( (@AHID = @LASTPeopleAHID and @AHDate < @LASTPeopleAHDate ) )
              begin  
        		UPDATE People set People.LastAHID=
	    	    (Select Top 1 ActivityHistoryID from ActivityHistory WITH (NOLOCK)  
		        JOIN LinkObjectToActivityHistory WITH (NOLOCK) ON  
		        ActivityHistory.ActivityHistoryID=LinkObjectToActivityHistory.RightID
		        and ObjectTableName='People'
		        WHERE LinkObjectToActivityHistory.LeftID=@PeopleID ORDER BY CompletedOn desc)
                WHERE People.PeopleID = @PeopleID

     			UPDATE People set People.LastAHCompletedOn=ActivityHistory.CompletedOn
				From People, ActivityHistory 
				WHERE People.LastAHID=ActivityHistory.ActivityHistoryID and People.PeopleID = @PeopleID
			  end
             if ( @AHID = @LASTPeopleAHID and @AHDate > @LASTPeopleAHDate ) 
	     		UPDATE People set LastAHCompletedOn = @AHDate where PeopleID = @PeopleID		
             if ( @AHID <> @LASTPeopleAHID and @AHDate > @LASTPeopleAHDate ) 
	     		UPDATE People set LastAHCompletedOn = @AHDate,LastAHID=@AHID where PeopleID = @PeopleID		
       end  
        fetch next from CurLoc1 into @PeopleID, @ProjectsID,@AHID, @LASTProjectAHID,@LASTProjectAHDate,@AHDate,
                                     @LASTPeopleAHID, @LASTPeopleAHDate
end
          
close         CurLoc1
deallocate CurLoc1






