CREATE TABLE [dbo].[DirectHireInterviewResult](
	[DirectHireInterviewResultID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50)  NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DirectHireInterviewResult] WITH NOCHECK ADD 
	CONSTRAINT [PK_DirectHireInterviewResult] PRIMARY KEY  CLUSTERED 
	(
		[DirectHireInterviewResultID]
	)  ON [PRIMARY] 

GO
GRANT  REFERENCES ,  SELECT ,  UPDATE ,  INSERT ,  DELETE  ON [dbo].[DirectHireInterviewResult]  TO [DeskFlowUsers]
GO
SET IDENTITY_INSERT DirectHireInterviewResult ON
INSERT INTO DirectHireInterviewResult (DirectHireInterviewResultID,Description) VALUES (0,'<Unknown>')
SET IDENTITY_INSERT DirectHireInterviewResult OFF
GO
SET IDENTITY_INSERT DirectHireInterviewResult ON
INSERT INTO DirectHireInterviewResult (DirectHireInterviewResultID,Description) VALUES (1,'Rejected')
SET IDENTITY_INSERT DirectHireInterviewResult OFF
GO
SET IDENTITY_INSERT DirectHireInterviewResult ON
INSERT INTO DirectHireInterviewResult (DirectHireInterviewResultID,Description) VALUES (2,'Pending')
SET IDENTITY_INSERT DirectHireInterviewResult OFF
GO
SET IDENTITY_INSERT DirectHireInterviewResult ON
SET IDENTITY_INSERT DirectHireInterviewResult OFF
GO
IF (select count(*) from LookupTables where name = 'DirectHireInterviewResult' )=0
INSERT INTO LookupTables ( Name,Description,Editable,Visible)
Values ('DirectHireInterviewResult','Direct Hire Client Interview Outcome','Description','Description')
GO




