
CREATE TRIGGER [dbo].[PositionsRoleINSERT] ON [dbo].[Positions]  
FOR INSERT   
NOT FOR REPLICATION 
AS  
BEGIN  
  
SET NOCOUNT ON;

UPDATE  Positions  
SET  Positions.RoleCode1 = Titles.RoleCode1,  
Positions.RoleCode2 =Titles.RoleCode2  
FROM Positions JOIN  Inserted ON
Inserted.PositionsID =  Positions.PositionsID 
LEFT JOIN Titles  ON ( Inserted.JobTitle = Titles.JobTitle)  
WHERE IsNull(Inserted.RoleCode1,0)=0 and Titles.RoleCode1>0    
  
END
GO
CREATE  TRIGGER [dbo].[PositionsRoleUpdate] ON [dbo].[Positions]  
FOR UPDATE   
AS

if (  (select TRIGGER_NESTLEVEL()) <= 1)
BEGIN

UPDATE  Positions  
SET  Positions.RoleCode1 = Titles.RoleCode1,  
Positions.RoleCode2 =Titles.RoleCode2  
FROM Positions JOIN  Inserted ON
Inserted.PositionsID =  Positions.PositionsID 
JOIN Deleted ON
Inserted.PositionsID = deleted.PositionsID
LEFT JOIN Titles  ON ( Inserted.JobTitle = Titles.JobTitle)  
WHERE IsNull(Inserted.JobTitle,'')<>IsNull(Deleted.JobTitle,'')
AND Titles.RoleCode1 >0
END