if ( select COUNT(*) from ProgramComponents where Name='Project Tracker') = 0
insert into ProgramComponents (Name ) values ('Project Tracker')
GO
create function [dbo].[fn_ProjectStage] (@ProjectsID int)   
returns @result table (  
    stage varchar(255) ,
	status varchar(255)
)  
AS  
BEGIN
declare @RecCount int
declare @MaxInt int
declare @MaxRes int
declare @MaxCR int
declare @MaxPR int
declare @Stage varchar ( 255 )
declare @Status varchar(255)
set @Stage = ''
set @Status = ''
select @RecCount = count(*) ,@MaxInt = max(case when charindex('.',IntType) > 0 
    then cast (SubString (IntType, 1, charindex('.',IntType)-1) as int)
	else 0 end)
from Interview where ProjectsID = @ProjectsID
if (@RecCount > 0 )
 begin
	if (@MaxInt > 0 )
		select top 1 @Stage = IntType, @Status = Location from Interview  
		where IntType like LTRIM(RTRIM(Str(@MaxInt)))+'.%' and ProjectsID = @ProjectsID order by InterviewDate desc
    else
			select top 1 @Stage = 'Client Interview', @Status = Location from Interview  
		    where ProjectsID = @ProjectsID order by InterviewDate desc

 end
else
	begin 
		select @MaxRes= 
		case when max(cast(InclFS as int)) =1 or max(cast(InclBM as int))=1 or
		max(cast(InclTC as int)) =1 or max(cast(InclAR as int))=1 or
		max(cast(InclIR as int)) =1 or max(cast(InclSO as int))=1 or max(cast(InclSR as int))=1
		then 1 else 0 end, 
		@MaxPR=max(cast(InclPR as int)), @MaxCR= max(cast(InclCR as int))
		from ProjectsCallStatus where ProjectsID = @ProjectsID

		if ( @MaxPR = 1 )
			begin 
				set @Stage = 'Presented' 
				set @Status = 'Presented' 
			end
		else 
			begin
				if (Select count(*) from InternalInterviews 
					where ProjectsID=@ProjectsID) > 0
						begin
							set @Stage = 'Pursuing' 
							set @Status = 'Screening' 
						end
				else
					begin
						if (@MaxCR  = 1)
							begin
								set @Stage = 'Pursuing' 
								set @Status = 'Responded' 
							end
						else		
						if (@MaxRes  = 1)
							begin
								set @Stage = 'Pursuing' 
								set @Status = 'Identified' 
							end
					end
			end	
    END
		insert into @result (stage, status) values(@Stage, @Status)
	return
END
GO
grant select on fn_ProjectStage to DeskflowUsers