SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nicholas Kooij
-- Create date: 24 Nov 2018
-- Description:	Table valued function converting a separated string of ids into a set of ids.
--              Can be used to accelerate id insertion.
-- =============================================
create function [dbo].[fn_Ids] (@text varchar(max))   
returns @ids table (  
    id int not null
    --id int primary key not null
)  
AS  
BEGIN

	-- length
	declare @n int = len(@text);

	-- current index
	declare @i int = 1;

	-- until end of text...
	while @i <= @n begin
		-- find next comma
		declare @j int = charindex(',', @text, @i)

		if @j = 0 begin
			-- last id
			set @j = @n + 1;
		end

		declare @id int = substring(@text, @i, @j - @i);

		-- populate ids
		insert into @ids (id) values(@id);

		-- advance
		set @i = @j + 1;
    end
    
    return
END
go

-- Set permissions
grant select on fn_Ids to DeskflowUsers;