SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nicholas Kooij
-- Create date: 28 Nov 2018
-- Description:	Table valued  function converting an  ActivityHistory linkage
--              string to  a set of  {Tablename,Id} pairs. The  input linkage
--              string contains zero or more strings of "Table,Id" *including
--              double quotes, and delimited themselves comma, Can be used to
--              accelerate  SaveInActivityHistory LinkObjectToActivityHistory
--              insertion.
-- =============================================
create function [dbo].[fn_Links] (@text varchar(max))   
returns @links table (  
	TableName varchar(50) not null,
	Id int not null
)  
AS  
BEGIN

	-- length
	declare @n int = len(@text);

	-- current index
	declare @i int = 1;

	-- until end of text...
	while @i <= @n begin
		-- expect opening quote at @i
		if substring(@text, @i, 1) != '"' begin
			-- opening quote not found
			break
		end

		-- skip opening quote
		set @i = @i + 1;

		-- find middle comma
		declare @j int = charindex(',', @text, @i);
		if @j = 0 begin
			-- middle comma not found
			break;
		end

		-- find closing quote
		declare @k int = charindex('"', @text, @j + 1);
		if @k = 0 begin
			-- closing quote not found
			break;
		end

		-- table name
		declare @tableName varchar(50) = substring(@text, @i, @j - @i);

		-- skip middle comma
		set @j = @j + 1;

		-- id
		declare @id varchar(max) = substring(@text, @j, @k - @j);

		-- insert {TableName,Id} pair
		insert @links (TableName,Id)
		select @TableName,@id
		-- Note:  isnumeric is roughly equivalent to C++ TryStrToInt validation
		where isnumeric(@id) = 1;

		-- skip closing quote and following comma
		set @i = @k + 2;
    end
    
    return
END
go

-- Set permissions
grant select on fn_Links to DeskflowUsers;