SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Nicholas Kooij
-- Create date: 30 Nov 2018
-- Description:	String value with ordinal table valued function.
-- =============================================
create function [dbo].[fn_Strings] (@text varchar(max))   
returns @result table (  
	-- string value
    value varchar(50) not null,
	-- index
	ordinal int primary key not null
)  
AS  
BEGIN

	-- length
	declare @n int = len(@text);

	-- current index
	declare @i int = 1;

	-- index
	declare @m int = 0;

	-- until end of text...
	while @i <= @n begin
		-- find next comma
		declare @j int = charindex(',', @text, @i)

		if @j = 0 begin
			-- last id
			set @j = @n + 1;
		end

		-- populate values
		insert into @result (value, ordinal) values(substring(@text, @i, @j - @i), @m);

		-- advance
		set @i = @j + 1;
		set @m = @m + 1;
    end
    
    return
END
go

-- Set permissions
grant select on [fn_Strings] to DeskflowUsers;